<!-- Membership Pass Page -->
<div class="page-section flexbox vertical stretch">
  <div id="header">
    <div id="header-title">ValetBike</div>
    <div class="float-right">
      <ul>
        <li><%= link_to('Home', root_url, class: 'header-links') %></li>
        <li><%= link_to('Memberships', {:controller => 'memberships', :action => 'index'}, class: 'header-links active') %></li>
        <li><%= link_to('Register', new_user_path, class: 'header-links') %></li>
        <li><%= link_to('Login', new_session_path, class: 'header-links') %></li>
      </ul>
    </div>
  </div>
</div>
<h1> ValetBike Membership Passes</h1>
<br>
<p> Monthly Membership: $20 for Unlimited 45-minute rides for 1 month. 1 bike per membership.</p>
<li><%= link_to('Learn More', {:action => 'show'}) %></li>
<p> Annual Membership:</p>
<p> Pay Per Ride Pass:</p>
