<!-- Montly Membership Explanation Page -->
<div class="page-section flexbox vertical stretch">
  <div id="header">
    <div id="header-title">ValetBike</div>
    <div class="float-right">
      <ul>
        <li><%= link_to('Home', root_url, class: 'header-links') %></li>
        <li><%= link_to('About', new_tab_url, class: 'header-links') %></li>
        <li><%= link_to('Memberships', {:controller => 'memberships', :action => 'index'}, class: 'header-links active') %></li>
        <% if user_signed_in? %>
          <li><%= link_to("Profile", current_user, class: 'header-links') %></li>
        <% else %>
          <li><%= link_to('Register', new_user_registration_path, class: 'header-links') %></li>
          <li><%= link_to('Login', new_user_session_path, class: 'header-links') %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<h1> Monthly Membership Pass</h1>
<br>
<p> Monthly Membership: $20 for Unlimited 45-minute rides for 1 month. 1 bike per membership. etc.</p>
<br>
<li><%= link_to('Buy Now', {:controller => 'orders', :action => 'index'}) %></li>
