<h1>Check Out Bike</h1>
<br/>
<img src="animated_bike.gif" alt = "Background">
<h2>Station: <%= @station.name %></h2>
<br/>
   <%= form_tag '/checkout' do %>
   <%= label_tag :"Bike ID"%>
   <%= text_field_tag :bikeid %>
   <%= submit_tag "Enter", data: { station_identifier: @station.identifier }%>
<%end%>
