<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .Access_Title {
      background-color: #286090;
      color: #FFFFFF;
      height: 75px;
      width: 100%;
      text-align: center;
    }
    .bikeID {
      background-color: #E6F4F1;
      padding: 10px;
      text-align: center;
      width: 550px;
    }
    .alart {
      color: red;
      font-size: 15px;
    }

    .btn-logout {
      background-color: #E6F4F1;
      border: none;
      color: black;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
    }

    .btn-group{
      background-color: #FFFFFF;
      border-color: #000000;

       /*set the color you want here*/
    }

    .btn-primary{
      background-color: #286090;
      border-color: #286090;
      border-width: 3px;
    }

    .btn-primary:hover{
      background-color: #00b3db;
    }

    .btn-primary:visited{
      color: #FFFFFF;
    }

  </style>
</head>

<br></br>

<div class = "Access_Title">
  <h1>Check Out Bike</h1>
</div>
<br>

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <%#<%= link_to "Login", "/login", :class => "btn" %>
  <% if logged_in? %>
     <%= link_to "Go to Map", "/authorized", :class => "btn btn-primary"%>
     <%= link_to "Payment Page", "/payment", :class => "btn btn-primary" %>
  <% end %>
  <% if not logged_in? %>
     <%=link_to "Log In", '/login', :class => "btn btn-primary", method: :get%>
     <%= link_to "Create An Account", "/users/new", :class =>"btn btn-primary"%>
  <% end %>
  <%= link_to "How it Works", "/how_it_works", :class =>"btn btn-primary"%>
  <%= link_to "FAQ", "/FAQ", :class =>"btn btn-primary"%>
  <%= link_to "About", "/about", :class =>"btn btn-primary"%>
  <% if logged_in? %>
     <%= link_to "Log Out", "/logout", :class => "btn btn-primary", data: { confirm: "Are you sure?" }, method: :post%>
  <% end %>
</div>

    <img src="animated_bike.gif" alt = "Background" class = "center" width = "350" height = auto>
    <div class = "bikeID">
    <h3>Station: <%= @station.name %></h3>
      <p>On the bike you have selected, there should be a 4-digit PIN number,
      please enter it in the ID field.</p>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name, class: "alart" %>
        <p class= "alart"> Please try with different bike ID </p>
      <% end -%>
    <%= form_tag '/checkout' do %>
       <%= label_tag("Bike ID")%>
       <%= text_field_tag :bikeid %>
       <%= submit_tag "Enter", data: { station_identifier: @station.identifier }%>
    <%end%>
    <br>
    </div>
