<html lang = "en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">

    .Access_Title {
      background-color: #286090;
      color: #FFFFFF;
      height: 75px;
      width: 100%;
      text-align: center;
    }
    .Login_Enter {
      background-color: #E6F4F1;
      width: 30%;
      height: auto;
      text-align: center;
      padding: 15px;
    }
    .Login_Enter h2 {
      margin-top: 10px
    }
    .alart {
      color: red;
    }

  </style>
</head>

<body>

<br></br>

<div class = "Access_Title">
  <h1> Login </h1>
</div>

<br></br>


<div class = "Login_Enter">
  <h2>Welcome Back!</h2>
  <p class = "alart">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name, class: "alart" %>
    <% end -%>
  </p>
   <%= form_tag '/login' do %>
   <p></p>
   <%= label_tag :username%>
   <p></p>
   <%= text_field_tag :username %>
   <p></p>
   <%= label_tag :password%>
   <p></p>
   <%= password_field_tag :password%>
   <p></p>
   <%= submit_tag "Login"%>
<%end%>
</div>

<br/>
<h1> Are you a new user? </h1>
<br/>
<%=button_to "Create a New Account", '/users/new', method: :get%>
