<h1>Sessions#new</h1>
<br/>

<h1>Login</h1>
   <%= form_tag '/login' do %>
   <%= label_tag :username%>
   <%= text_field_tag :username %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>

<br/>
<h1> Are you a new user? </h1>
<br/>
<%=button_to "Create a New Account", '/users/new', method: :get%>
