<div class="pageHeader bg-info text-white w-100 p-5 rounded-lg">
  <h1 class="display-4">Log In</h1>
  <p class="lead">Log in if you already have an account!</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:rgb(50, 110, 223);">ValetBike</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to('Home', {:controller => 'stations', :action => 'index' }, :class => 'nav-link') %>
        <%# <%= link_to("Log In", new_session_path, :class => 'nav-link')%>
          <a class="nav-link active" href="#">Log In</a>
      <%= link_to("Sign Up", new_user_path, :class => 'action new nav-link') %>
      <%# <%= link_to('User List', {:controller => 'users', :action => 'index' }, :class => 'nav-link') %>
      <%# <%= link_to('Membership Purchase', {:controller => 'payments', :action => 'index' }, :class => 'btn btn-payments nav-link') %>

      </div>
    </div>
  </div>
</nav>

<div class="container w-50 m-5">
  <%= form_for(:session, url: login_path) do %>
    <p class="field mb-3">
      Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
      <%= text_field_tag(:email) %>
    </p>

    <p class="field mb-3">
      Password
      <%= text_field_tag(:password) %>
    </p>

    <%= submit_tag 'Log In', :class => "btn btn-primary" %>

  <% end %>

  <%= link_to 'Back', root_path %>
</div>
