<div>
  <h1 class="font-bold text-4xl">Log In</h1>
  <p>Find me in app/views/sessions/new.html.erb</p>

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <h1>Login</h1>
    <%= form_tag '/login' do %>
    <%= label_tag :email%>
    <%= text_field_tag :email %><br>
    <%= label_tag :password%>
    <%= password_field_tag :password%><br>
    <strong><%= submit_tag "Login"%></strong>
<%end%>
</div>
