<html lang = "en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .Access_Title {
      background-color: #2b7efb;
      color: #FFFFFF;
      height: 100px;
      width: 90%;
      text-align: center;
    }
    .map {
      background-color: #E6F4F1;
    }

  </style>
</head>



<br></br>

<div class = "Access_Title">
  <h1>You have access to this page, <%= current_user.username %>.</h1>
</div>

<br></br>

<%=button_to "Log Out of Your Account", '/logout', method: :post%>

<br></br>

<% unless @stations.present? %>
<div class="empty">
  No stations found.
</div>
<% end %>

<div class = "map">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css%22%3E
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

  <style>
    body{
      margin: 0;
      padding: 0;
    }

    #map {
      width: 960px;
      height: 500px;
    }
  </style>
</head>



<div id="map"> </div>

<script>

var bikeIcon = L.icon({
    	iconUrl: 'bike.svg',
    	iconSize: [50, 50],
    	iconAnchor: [25,0]
    });

//Establishes the latitude, longitutde, and bounds
var latLon = L.latLng(42.32529052324533, -72.65033251578427);
var bounds = latLon.toBounds(3000); // 3000 = metres

//Creates the map and centers at coordiantes with zoom
  var map = L.map('map', {
    center: L.latLng(42, -72),
    zoom: 13
});


//Pans to that coordinates
map.panTo(latLon).fitBounds(bounds);

//Creates the open street map tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map); //Adds to established map

//Creates markers with bike icon and adds to the map
<% @stations.each do |s|%>
  L.marker([<%= s.latitude %>, <%= s.longitude %>], {icon: bikeIcon}).addTo(map)
    .bindPopup('<%= s.name %>'
              +'<br><%= s.docked_bikes.count %> bike available'
              +'<br><a href="/checkout">Unlock</a>') //Adds pop up description
    .openPopup();
<% end %>
  L.control.locate().addTo(map);

</script>

</div>
