<html lang = "en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">

    .Access_Title {
      background-color: #286090;
      color: #FFFFFF;
      height: 75px;
      width: 100%;
      text-align: center;
    }

    .map {
      background-color: #E6F4F1;
    }

    .btn-logout {
      background-color: #E6F4F1;
      border: none;
      color: black;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
    }

    .btn-group{
      background-color: #FFFFFF;
      border-color: #000000;

       /*set the color you want here*/
    }

    btn-primary{
      background-color: #286090;
      border-color: #286090;
      border-width: 3px;
    }

    .btn-primary:hover{
      background-color: #00b3db;
    }

    .btn-primary:visited{
      color: #FFFFFF;
    }

    .intro-text {
      padding: 10px;
      background-color: #E6F4F1;
      text-align: center;
    }

    .logout-discl {
      text-align: right;
      background-color: #E6F4F1;
      padding: 10px;
    }

    .unlock:hover {
      background-color: #00b3db;
    }

  </style>
</head>

<br></br>

<div class = "Access_Title">
  <h1>Welcome back, <%= current_user.first_name %>!</h1>
</div>

<br>

<div class="col-sm-4">
  <div class="intro-text">
    <p>Please find the navigation buttons above the map in case you need to
      reorient yourself on the website or, if you want to check out a bike,
      click on any of the markers on the map conencted to your station of interest
      and press 'Unlock.'</p>
  </div>
  <div class="logout-discl">
    <p><em>If you wanted to logout instead,</em></p>
    <%=button_to "Log Out of Your Account", '/logout', data: { confirm: "Are you sure?" }, method: :post, class: "btn-logout"%>
  </div>
</div>

<br>

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <%#<%= link_to "Login", "/login", :class => "btn" %>
  <% if logged_in? %>
     <%= link_to "Go to Map", "/authorized", :class => "btn btn-primary"%>
     <%= link_to "Payment Page", "/payment", :class => "btn btn-primary" %>
  <% end %>
  <% if not logged_in? %>
     <%=link_to "Log In", '/login', :class => "btn btn-primary", method: :get%>
     <%= link_to "Create An Account", "/users/new", :class =>"btn btn-primary"%>
  <% end %>
  <%= link_to "How it Works", "/how_it_works", :class =>"btn btn-primary"%>
  <%= link_to "FAQ", "/FAQ", :class =>"btn btn-primary"%>
  <%= link_to "About", "/about", :class =>"btn btn-primary"%>
</div>

<br></br>

<% unless @stations.present? %>
<div class="empty">
  No stations found.
</div>
<% end %>

<div class = "map">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css%22%3E
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

  <style>
    body{
      margin: 0;
      padding: 0;
    }

    #map {
      width: 960px;
      height: 500px;
    }
  </style>
</head>



<div id="map"> </div>

<script>

var bikeIcon = L.icon({
    	iconUrl: 'bike.svg',
    	iconSize: [50, 50],
    	iconAnchor: [25,0]
    });
var bikeIconDisactivated = L.icon({
    	iconUrl: 'bike-disactivated.svg',
    	iconSize: [50, 50],
    	iconAnchor: [25,0]
    });

//Establishes the latitude, longitutde, and bounds
var latLon = L.latLng(42.32529052324533, -72.65033251578427);
var bounds = latLon.toBounds(3000); // 3000 = metres

//Creates the map and centers at coordiantes with zoom
  var map = L.map('map', {
    center: L.latLng(42, -72),
    zoom: 13
});


//Pans to that coordinates
map.panTo(latLon).fitBounds(bounds);

//Creates the open street map tile layer
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map); //Adds to established map

//Creates markers with bike icon and adds to the map
<% @stations.each do |s|%>
  <% if Bike.where(:current_station_identifier => s.identifier).all.count == 0 %>
    L.marker([<%= s.latitude %>, <%= s.longitude %>], {icon: bikeIconDisactivated}).addTo(map)
      .bindPopup('<%= s.name %>'
                +'<br>No bike available') //Adds pop up description
      .openPopup();
  <% else %>
    L.marker([<%= s.latitude %>, <%= s.longitude %>], {icon: bikeIcon}).addTo(map)
      .bindPopup('<%= s.name %>'
                +'<br><%= Bike.where(:current_station_identifier => s.identifier).all.count %> bike available'
                +'<br><a class="unlock" href="/checkout?station_identifier=<%= s.identifier %>">Unlock</a>') //Adds pop up description
      .openPopup();
  <% end %>
<% end %>
  L.control.locate().addTo(map);

</script>

</div>

<br></br>
