</html>
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotronstyle {
      background-image: url(city.jpeg);
      background-size: cover;
      background-position: 50% 80%;
      background-color: #2b7efb;
      width: 90%;
      color: #FFFFFF;
      text-align: center;
      }

      .btn-group{
        background-color: #FFFFFF;
        border-color: #000000;

         /*set the color you want here*/
      }

      .btn-primary{
        background-color: #286090;
        border-color: #286090;
        border-width: 3px;
      }

      .btn-primary:hover{
        background-color: #00b3db;
      }
      
      .btn-primary:visited{
        color: #FFFFFF;
      }

      .row {
        padding: 20px;
        background-color: #E6F4F1;
      }
  </style>

</head>

<body>

<br></br>

<div class="jumbotron text-center jumbotronstyle">
  <!--<img src="/assets/download.jpg" alt = "Background"> -->
  <h1>Welcome to ValetBike</h1>

</div>


<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
  <%#<%= link_to "Login", "/login", :class => "btn" %>
  <% if logged_in? %>
     <%= link_to "Go to Map", "/authorized", :class => "btn btn-primary"%>
     <%= link_to "Membership", "/payment", :class => "btn btn-primary" %>
  <% end %>
  <% if not logged_in? %>
     <%=link_to "Log In", '/login', :class => "btn btn-primary", method: :get%>
     <%= link_to "Create An Account", "/users/new", :class =>"btn btn-primary"%>
  <% end %>
  <%= link_to "How it Works", "/how_it_works", :class =>"btn btn-primary"%>
  <%= link_to "FAQ", "/FAQ", :class =>"btn btn-primary"%>
  <%= link_to "About", "/about", :class =>"btn btn-primary"%>
</div>


<br></br>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Pay-Per-Ride</h3>
      <p>Perfect for one time rides!</p>
      <p>Rent a bike for 45 minutes for $3. </p>
      <p>Overcharge fees of 25¢ every minute after 45 minutes without docking.</p>
    </div>
    <div class="col-sm-4">
      <h3>Monthly</h3>
      <p>Unlimited 45 minute rides for one month!</p>
      <p>Pay $25 per month to rent a bike any time.</p>
      <p>Overcharge fees of 10¢ every minute after 45 minutes without docking.</p>
    </div>
    <div class="col-sm-4">
      <h3>Yearly</h3>
      <p>Unlimited 60 minute rides for one year!</p>
      <p>Pay $50 per year to rent a bike any time.</p>
      <p>Overcharge fees of 10¢ every minute after 60 minutes without docking</p>
    </div>
  </div>
</div>

</body>
</html>
