<!-- Registration Page -->
<!-- /users/sign_up -->
<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="page-section flexbox vertical stretch">
      <div id="header">
        <div id="header-title">ValetBike</div>
        <div class="float-right">
          <ul>
            <li><%= link_to('Home', root_url, class: 'header-links') %></li>
            <li><%= link_to('About', new_tab_url, class: 'header-links') %></li>
            <li><%= link_to('Process', {:controller => '/tabs', :action => 'index'}, class: 'header-links') %></li>
            <li><%= link_to('Memberships', {:controller => '/memberships', :action => 'index'}, class: 'header-links') %></li>
            <% if user_signed_in? %>
              <li><%= link_to("Profile", current_user, class: 'header-links') %></li>
            <% else %>
              <li><%= link_to('Register', new_user_registration_path, class: 'header-links active') %></li>
              <li><%= link_to('Login', new_user_session_path, class: 'header-links') %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <h1>Sign up</h1><br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div id="signupContainer">
            <div class="informationTitle">First Name:</div>
            <div class="information field"><%= f.text_field :firstName %></div>
            <br>
            <div class="informationTitle">Last Name:</div>
            <div class="information field"><%= f.text_field :lastName %></div>
            <br>
            <div class="informationTitle">Email Address:</div>
            <div class="information field"><%= f.text_field :email %></div>
            <br>
            <div class="informationTitle">Mailing Address: </div>
            <div class="information field"><%= f.text_field :streetAddress %></div>
            <br>
            <div class="informationTitle">City</div>
            <div class="information field"><%= f.text_field :city %></div>
            <br>
            <div class="informationTitle">State</div>
            <div class="information field"><%= f.select :state, options_for_select(us_states) %></div>
            <br>
            <div class="informationTitle">Phone Number: </div>
            <div class="information field"><%= f.telephone_field :phoneNumber %></div>
            <br>
            <div class="informationTitle">Membership Type: </div>
            <div class="information field"><%= f.select :membership, options_for_select(memberships) %></div>
            <br>
            <div class="informationTitle">Password: </div>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <div class="information field">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
            <br>
            <div class="informationTitle">Confirm Password: </div>
            <div class="information field"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
            <br>
            <div class="actions submitButton">
              <%= f.submit "Sign up" %>
            </div>
            <br>
            <div class="error"><%= render "devise/shared/error_messages", resource: resource %></div>
        </div>
    <% end %>
  </body>
</html>

