<style>
  .container4 {
    height: 1em;
  }

  .first-name-input,
  .last-name-input,
  .field input[type="email"], 
  .field input[type="password"],
  .field input[type="password_confirmation"],
  .field .phone_number {
    padding-left: 10px; 
  }

  .field label.required:after,
  td > label.required:after {
  content: "*";
  color: red;
  }
</style>

<div class="container4">
</div>

<h2>Register</h2><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td><%= f.label :first_name, "First Name", class: "required" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :first_name, autofocus: true, class: "form-control first-name-input", autocomplete: "given-name", required: true, size: 14, maxlength: 20, style: "height: 30px; border: 0.5px solid #808080; border-radius: 5px;" %></td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td><%= f.label :last_name, "Last Name", class: "required" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :last_name, class: "form-control last-name-input", autocomplete: "family-name", required: true, size: 13, maxlength: 20, style: "height: 30px; border: 0.5px solid #808080; border-radius: 5px;" %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div style="line-height: 0.6em;">&nbsp;</div>
    
  <div class="field">
    <%= f.label :email, "Email", class: "required" %><br />
    <%= f.email_field :email, autocomplete: "email", required: true, size: 35, maxlength: 50, style: "height: 30px; border: 0.5px solid #808080; border-radius: 5px;" %>
  </div>
  <div style="line-height: 0.6em;">&nbsp;</div>

  <div class="field">
    <%= f.label :password, "Password", class: "required" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", required: true, size: 35, style: "height: 30px; border: 0.5px solid #808080; border-radius: 5px;" %>
  </div>
  <div style="line-height: 0.6em;">&nbsp;</div>

  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation", class: "required" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true, size: 35, style: "height: 30px; border: 0.5px solid #808080; border-radius: 5px;" %>
  </div>
  <div style="line-height: 0.6em;">&nbsp;</div>

<br>
  <div style="line-height: 0.7em;">&nbsp;</div>

  <div class="actions" style="text-align: center;">
    <%= f.submit "Submit", class: "btn btn-primary", style: "width: 271px; height: 35px; background: #32CD32; color: #FFFFFF; border: solid #32CD32; cursor: pointer; border-radius: 7px; font-weight: 549;" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>
