<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdn.tailwindcss.com"></script> 
</head>

<div class="lg:flex shadow-lg" padding=8>
<%= puts "Available stations"%>
<%= puts station%>
  <img class="object-cover w-full h-24 border m-1 lg:w-24" src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

  <div class="flex flex-row justify-between py-2 lg:mx-6 ">
        <%= station[:name] %>  <%= (station[:address])   %>
      <span class="text-sm text-gray-500 dark:text-gray-500">20 miles</span>

        <%= link_to "Return", return_path(@renting, station) %>
      
  </div>

</div>