<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <li> <%= station.identifier %>: <%= station.name %> (<%= station.address %>) </li>
  <li> <%= station.docked_bikes.count %></li>
</div>
