<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  Station <%= station.id %>: <%= station.name %> (<%= station.address %>)

  <!--div tags for "new lines" -->
  <div>Bikes available: <%= station.docked_bike_count %> </div>
  
  <div role="button" type="button" class="button">
    <%= link_to 'Rent', rent_path %>
  </div>
</div>
