<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>) <%= station.has_kiosk_identifier%>  <%= station.needs_maintenance%> <%= station.dock_count%> <%= station.docked_bike_count%> 
</div>