<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
<%= station.identifier %>: <%= station.name %> <p> Docked Bikes: <%= station.docked_bikes.count %> <p> (<%= station.address %>)
</div>
