<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
<<<<<<< HEAD
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>) <%= station.docked_bikes.count %>
=======
<%= station.identifier %>: <%= station.name %> <p> Docked Bikes: <%= station.docked_bikes.count %> <p> (<%= station.address %>)
>>>>>>> 4b7f8a7d4f059e9ffbd0a88a817e918a18c3d057
</div>
