<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier.to_i-19 %>: <%= station.name %> (<%= station.address %>)
  <%= link_to("Show bike", {:controller => 'bikes', :action => 'show', :id => station.id}) %>
</div>
