<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>)  
  <% bikes = Bike.where(current_station_identifier: station.identifier) %>
  <% if (bikes.length == 0)%>
    <%= link_to("No scooters available at #{station.name}", station_path(station.id)) %>
  <%else%>
    <%= link_to("Rent a scooter from #{station.name}", station_path(station.id)) %>
  <%end%>
</div>


