<tr class="record-row <%= cycle "odd", "even", name: "row-cycler" %>">
  <td><%= station.identifier %></td>
  <td style="text-align: left;"><%= station.name %> (<%= station.address %>)</td>
  <td><%= station.docked_bikes.count %></td>
</tr>
