<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %>">
   <div class="right">
      <h2><%= station.name %></h2>
      <h5>Address: <%=station.address%> </h5>
      <h5>Description: <%=station.description%> </h5>
      <h5>Capactiy: <%=station.capacity%> </h5>
   </div>
</div>
