<script src="https://cdn.tailwindcss.com"></script>

<div class="lg:flex shadow-lg" padding=8 width=50%> 
  <img class="object-cover h-24 border m-2 lg:w-24" src="<%= asset_path('station.png') %>" alt="">
  <% docked_bikes_id = String(station[:id]) + "_docked" %>
  <% docked_bikes_value = 'Available Bikes: ' + station.docked_bikes.count.to_s %>
  <div id=<%=docked_bikes_id%> value=<%=docked_bikes_value.to_json.html_safe%> class="container justify-between lg:m-6 " >
    <div style=" display: flex; justify-content: space-between;">
      <%= station[:name] %>
      <span class="text-sm text-gray-500 dark:text-gray-500">Station <%= station["identifier"]%></span>
    </div>
    <div style=" display: flex; justify-content: space-between; margin-top: 0.5rem">
      <em> <%= station[:address] %></em>
      <span class="text-sm text-gray-500 dark:text-gray-500">

      <% if params[:renting_id].present? %>
        <%= link_to "Return", {controller: 'renting', action: 'return', renting_id: params[:renting_id],station_id: station[:id]}%>
      <% else %>
        <%= link_to "Details", {controller: 'renting', action: 'index', station_id: station[:id]}%>
       <%end%>
      </span>
    </div>
  </div>
</div>
