<div class="pageHeader bg-info text-white w-100 p-5 rounded-lg">
  <h1 class="display-4">Welcome to ValetBike!</h1>
  <p class="lead">Rent a bike and join a trip at anytime, anywhere.</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:rgb(50, 110, 223);">ValetBike</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <%if logged_in? %>
          <%= link_to('Membership Purchase', {:controller => 'payments', :action => 'index' }, :class => 'btn btn-payments nav-link') %>
          <%= link_to 'User Profile', current_user, :class => 'nav-link' %>
          <%= link_to("Return a Bike", "/return_bike", :class => 'action new nav-link') %>
        <% else %>
          <%= link_to("Log In", new_session_path, :class => 'nav-link')%>
          <%= link_to("Sign Up", new_user_path, :class => 'action new nav-link') %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<p></p>
<%if bike_rented? %>
  <div class="alert alert-success m-5 w-50" role="alert">
    <h4 class="alert-heading">Congrats!</h4>
    <p>You already have a bike rented.</p>
  </div>
<% end %>



<div class="page-section flexbox vertical stretch">
  </div>
    <html>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_pQ1lSqVb10TdOOV7d2sgb4sO4Txcosk&callback=initMap"></script>
      <iframe width="900" height="550" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/d/u/0/embed?mid=16lQ4DI4Uiylt3l_UWg3lkw7OyUZhq012"></iframe>
    </html>
	</div>
  <br>
  <div class="center">
  <%if logged_in? %>
    <%= link_to('Rent a Bike!', {:controller => 'rent', :action => 'index' }, :class => 'button') %>
    <%= link_to('Return a Bike!', {:controller => 'returns', :action => 'index' }, :class => 'button') %>
  <% else %>
    <%= link_to('Rent a Bike!', new_session_path, :class => 'button') %>
  <% end %>
  </div>
  <div class="section-inner flexbox vertical stretch">
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
  </div>
</div>
