<% if (user_signed_in? && !current_user.is_admin) || !user_signed_in? %>
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Hello and Welcome to ValetBike!<br>
      Available stations:
    </div>  
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <% if user_signed_in? && current_user.ongoing_rental? %>
        <%= render(partial: "stations/rental_row", collection: @stations, as: :station) %>
        <% else %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% end %> 
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
    <div id = 'map'>
      <script>
        function myMap() {
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
          var myCenter = new google.maps.LatLng(42.3251,-72.6412);
          var mapCanvas = document.getElementById("map");
          var mapOptions = {center: myCenter, zoom: 13};
          var map = new google.maps.Map(mapCanvas, mapOptions);
          var village_hill = new google.maps.LatLng(42.311115,-72.648752);
          var florence_bank = new google.maps.LatLng(42.33559,-72.674153);
          var childs_park = new google.maps.LatLng(42.32882,-72.648378);
          var forbes = new google.maps.LatLng(42.316749,-72.635711);
          var florence_center = new google.maps.LatLng(42.335046,-72.66801);
          var cooley_dickinson = new google.maps.LatLng(42.332042,-72.653968);
          var jmg = new google.maps.LatLng(42.319444,-72.638056);
          var pulaski_park = new google.maps.LatLng(42.317323,-72.633044);
          var train_station = new google.maps.LatLng(42.318853,-72.62644);
          var bikeway = new google.maps.LatLng(42.328156,-72.636223);
          var jackson_street = new google.maps.LatLng(42.337346,-72.6422);
          var court_house = new google.maps.LatLng(42.319515,-72.630593);
          var bridge_street = new google.maps.LatLng(42.320471,-72.628099);
          var school = new google.maps.LatLng(42.325248,-72.650873);
          var village_hill_marker = new google.maps.Marker({position:village_hill});
          var florence_bank_marker = new google.maps.Marker({position:florence_bank});
          var childs_park_marker = new google.maps.Marker({position:childs_park});
          var forbes_marker = new google.maps.Marker({position:forbes});
          var florence_center_marker = new google.maps.Marker({position:florence_center});
          var cooley_dickinson_marker = new google.maps.Marker({position:cooley_dickinson});
          var jmg_marker = new google.maps.Marker({position:jmg});
          var pulaski_park_marker = new google.maps.Marker({position:pulaski_park});
          var train_station_marker = new google.maps.Marker({position:train_station});
          var bikeway_marker = new google.maps.Marker({position:bikeway});
          var jackson_street_marker = new google.maps.Marker({position:jackson_street});
          var court_house_marker = new google.maps.Marker({position:court_house});
          var bridge_street_marker = new google.maps.Marker({position:bridge_street});
          var school_marker = new google.maps.Marker({position:school, title: "Northampton High School"});
          village_hill_marker.setMap(map);
          florence_bank_marker.setMap(map);
          childs_park_marker.setMap(map);
          forbes_marker.setMap(map);
          florence_center_marker.setMap(map);
          cooley_dickinson_marker.setMap(map);
          jmg_marker.setMap(map);
          pulaski_park_marker.setMap(map);
          train_station_marker.setMap(map);
          bikeway_marker.setMap(map);
          jackson_street_marker.setMap(map);
          court_house_marker.setMap(map);
          bridge_street_marker.setMap(map);
          school_marker.setMap(map);
        }
      </script>
      <% api_key = ENV['REACT_APP_API_KEY'].to_s %>
      <% puts api_key %>
      <script src=<%="https://maps.googleapis.com/maps/api/js?key=" + api_key.to_s + "&callback=myMap"%> ></script>
      <div id="map"> </div>
    </div>
  </div>
</div>
<% end %>
<% if user_signed_in? && current_user.is_admin? %>
<div class="stations index">
  <h2>Admin View: Stations</h2>

  <%= link_to("Add New Station", new_station_path, class: 'action new') %>
  
  <table class="listing" summary="Station list" style="width: 100%;">
    <tr class="header">
      <th>#</th>
      <th>Station Name</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
    <% @stations.each do |station| %>
    <tr>
      <td><%= station.identifier %></td>
      <td><%= station.name %></td>
      <td><%= station.address %></td>
      <td class="actions">
        <%= link_to("Show", station_path(station), class: 'action show') %>
        <%= link_to("Edit", edit_station_path(station), class: 'action edit') %>
        <%= link_to("Delete", delete_station_path(station), class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
