<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <style>
    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .pagination a:focus {
      outline: none;
      box-shadow: none;
    }
    .pagination .current {
      background-color:  #939191;
      color: #8C1627;
      border: 3px solid #939191;
      outline: 2px ridge gray
    }
    .pagination > * {
      margin-right: 1rem;
    }
    .pagination > *:last-child {
      margin-right: 0;
    }
    </style>
  </head>
  <body>   
    <div class="page-section flexbox vertical stretch m-2">
      <div>
        <h1 class="section-title px-6 pt-6">Find A Bike!</h1>
      </div>
    </div>
    
    <div class="container mx-auto" data-turbo="false">
      <div class="flex justify-center m-5">
        <!-- Row -->
        <div class="w-full flex">
          <div class="w-50% bg-white pr-5 ">
            <div class="container mx-auto" position=sticky>
              <form class=" bg-white p-1">
                <div class="mb-4 flex items-center">
                  <%= form_tag(search_stations_path, :method => :get, class: "search-form ") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Enter a city, zipcode (eg. South Hadley/ 01075)", class: "form-control w-full border border-gray-400" %>
                  <%= submit_tag 'Search', class: 'btn btn-primary ml-2 bg-blue-500 p-2 text-white hover:bg-blue-600', name: nil %>
                  <% end %>
                </div>
              </form>
            </div>
            <div id="stations-list" >
              <div class="grid grid-rows-1 gap-2 mt-2 md:grid-rows-2"  >
                <% if @stations.present? %>
                  <%= render(partial: "station_row", collection: @stations, as: :station) %>
                <% else %>
                <div class="empty">
                  No stations found.
                </div>
                <% end %>
                <div id="pagination" class="lg:flex">
                  <div class="container" style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;">
                      <span>Showing <%= @stations.offset + 1 %> - <%= @stations.offset + @stations.length %> of <%= @stations.total_entries %> entries</span>      
                      <div class = "btn_group ml-2">
                      <%= will_paginate @stations %>
                      </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>


          <script>
            <%= render(partial: 'paginate', formats: [:js]) %>
          </script>

          <%= content_tag :div, class: "temp_information", data: {temp: @station_info} do %> 
            <script type="text/javascript">
              <%= render(partial: 'map', formats: [:js]) %>
            </script>
          <%end%>



          <div id="map" class="px-5 lg:w-1/2" style="min-height: 250px">
            <% maps_api_key = "AIzaSyCp5mAqPHORth7ssHydyqRCwDjIuLnHT_E"%>
            <script async
              src="https://maps.googleapis.com/maps/api/js?key=<%= maps_api_key%>&libraries=places&callback=initMap">
            </script>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>