<div class="stations show">
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Station: <%= @station.name %>
    </div>  
    <div class="flexbox vertical stretch">
    Actions:
    <%= link_to('Edit', edit_station_path(@station)) %>
    <%= link_to('Delete', delete_station_path(@station)) %> <br>

    <%= render 'stations/docklistTEST' %>
      <% if @station.docked_bikes.present? %>
        Bikes docked:
        <%= render(partial: "stations/bike_row", collection: @station.docked_bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found at this station.
      </div>
      <% end %>
    </div>
    <div class="flexbox vertical stretch">
      Station created at: <%= @station.created_at.to_fs(:long) %> <br>
      Station last updated at: <%= @station.updated_at.to_fs(:long) %>
      <%= link_to "Back", stations_path %>
    </div>
	</div>
  </div>