<h1 style="font-size:2em; background-color:rgba(147, 174, 144, 0.5);"> ⊱⊰ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Rent a scooter from <%= @station.name  %> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ⊱⊰ </h1>
<% bikes = Bike.where(current_station_identifier: @station.identifier ) %>
<br>


<div class="flexbox vertical stretch">

 Station address: <%= @station.address%> <br>
 Station ID: <%= @station.identifier %> <br>
 
 <% if (bikes.length > 0)%>
    Number of scooters avilable: <%= bikes.length%> <br>
    Number of docks available: <%= @station.dock_count - bikes.length%> <br>
    <div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">

    <% bikes = Bike.where(current_station_identifier: @station.identifier ) %>
        <%bikes.each do |bike| %>
        Scooter id: <%= bike.id%>
        <%= link_to("Click here to rent this scooter", new_rental_path(bike: bike.id, station: @station.id, user: current_user.id)) %> 
        <% puts active_ride?%>
        <% puts "_____________STATIONS/SHOW________________"%>
        <% end%>
    <div class="empty">
    <% else %>
    No scooters available at this station! <br>
    <% end  %>
    </div>
    </div>

    <br>
    <br>
    
    <%= link_to("return to stations list", "/stations/index")%> <br/>
    <br/><%= link_to("view stations map", "map")%>
    </div>




<br><br><br>



      