<div class="stations show">
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Station: <%= @station.name %>
    </div>  
    <div class="flexbox vertical stretch">
    <% if user_signed_in? && current_user.is_admin? %>
    Admin Actions:
    <%= link_to('Edit', edit_station_path(@station)) %>
    <%= link_to('Delete', delete_station_path(@station)) %> <br>
    <% end %>
      <% if @station.docked_bikes.present? || (user_signed_in? && current_user.ongoing_rental?)%>
        Available bikes docked:
        <table>
          <tr>
           <%= @num_docks %>
            <% @station.get_num_docks.times do |i| %>
              <th> <%=i + 1%> </th>
            <% end %>
          </tr>
          <tr>
            <%= render(partial: "stations/bike_row", collection: @station.docks_with_bikes, as: :bike) %>
          </tr>
        </table>
        
      <% else %>
      <div class="empty">
        No bikes found at this station.
      </div>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.is_admin? %>
    <div class="flexbox vertical stretch">
      Station created at: <%= @station.created_at.to_fs(:long) %> <br>
      Station last updated at: <%= @station.updated_at.to_fs(:long) %>
      <%= link_to "Back", stations_path %>
    </div>
    <% end %>
	</div>
  </div>