<h1>Edit Phone Number</h1>

<%= form_with model: Current.user, url: edit_phone_path do |form| %>
    <% if Current.user.errors.any? %>
        <div class="alert alert-danger">
            <% Current.user.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div class="mb-3" >
        <%= form.label :phone_num %>
        <%= form.telephone_field :phone_num, class: "form-control" %>

    </div>


    <div class="mb-3">
        <%= form.submit "Update Phone Number", class: "btn btn-primary" %>
    </div>

<% end %>