<h2>Billing Info</h2>

<%= form_for @billing_info do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="row"
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :card_first_name %><br />
        <%= f.text_field :card_first_name, autofocus: true, class: "form-control", autocomplete: "off", required: true, maxlength: 20 %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :card_last_name %><br />
        <%= f.text_field :card_last_name, class: "form-control", autocomplete: "off", required: true, maxlength: 20 %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address, class: "form-control", autocomplete: "off", required: true, maxlength: 100 %>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "control-label col-sm-2" %>
    <div class="col-sm-4">
    <%= f.text_field :city, class: "form-control", autocomplete: "off", required: true, maxlength: 50 %>
  </div>

  <div class="form-group">
    <%= f.label :state_province, class: "control-label col-sm-2" %>
    <div class="col-sm-2">
    <%= f.text_field :state_province, class: "form-control", placeholder: "MA", autocomplete: "off", required: true, maxlength: 50 %>
  </div>

  <div class="form-group">
    <%= f.label :zip_code class: "control-label col-sm-2" %><br />
    <div class="col-sm-2">
    <%= f.text_field :zip_code, class: "form-control", autocomplete: "off", required: true, maxlength: 20 %>
  </div>

  <div class="form-group">
    <%= f.label :country %><br />
    <%= f.country_select :country, priority_countries: ["United States"], class: "form-control", required: true, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary", button_type: "submit" %>
  </div>
<% end %>

