<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
    Return Bike 
    </div>   
    <%= render(partial: "/renting/countdown", object: @renting, as: :renting)%>
    <%= render(partial: "/stations/availableStations_row", object: @endStation, as: :station) %>
    <table summary="Rental Summary">
      <tr>
        <th>User</th>
        <td>Name here</td>
      </tr>
      <tr>
        <th>Start Time</th>
        <td><%= @renting[:startTime].to_fs(:long) %></td>
      </tr>
      <tr>
        <th>End Time</th>
      <td><%= @renting[:endTime].to_fs(:long) %></td>
    </tr>
      <tr>
        <th>Status</th>
        <td><%= @renting.status? ? 'End' : 'In-Progress' %></td>
      </tr>
      <tr>
        <th>Start Station</th>
        <td><%= @startStation.name%></td>
      </tr>
      <tr>
        <th>End Station</th>
        <td><%= @endStation.name%></td>
      </tr>
      
    </table>

    <%= form_tag submit_code_renting_path(@renting), data: { turbo: false } do %>
      <%= label_tag ':submit_code', 'Rental Code:' %>
       <%= text_field_tag :submit_code  %>
      <%= submit_tag 'Submit' %>
     <% end %> 
    
    </div>
	</div>
</div>