<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
    Return Bike 
    </div>   
    <%= render(partial: "/stations/availableStations_row", object: @station, as: :station) %>

    <table summary="Rental Summary">
      <tr>
        <th>User</th>
        <td>Name here</td>
      </tr>
      <tr>
        <th>Start Time</th>
        <td><%= @renting[:startTime].to_fs(:long) %></td>
      </tr>
      <tr>
        <th>End Time</th>
      <td><%= @renting[:endTime].to_fs(:long) %></td>
    </tr>
      <tr>
        <th>Status</th>
        <td><%= @renting.status? ? 'End' : 'In-Progress' %></td>
      </tr>
      <tr>
        <th>Start Station</th>
        <td><%= @renting.current_station_name%></td>
      </tr>
      
    </table>


    <%# <%= form_tag(submit_code_renting_path, :method => :get) do %>
      <%# <%= text_field_tag :submit_code, params[:submit_code], placeholder: "Rental Code" %> 
      <%# <%= submit_tag 'Submit' %>
    <%# <% end %> 

    <%= form_tag 'submit_code_path' do %>
      <%= label_tag ':submit_code', 'Rental Code:' %>
       <%= text_field_tag :submit_code  %>
      <%= submit_tag 'Submit' %>
     <% end %> 
    
    </div>
	</div>
</div>