<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
    Return Bike 
    </div>   
    <%= render(partial: "/renting/countdown", object: @renting, as: :renting)%>
    <%= render(partial: "/stations/station_row", object: @endStation, as: :station) %>
    <%= render(partial: "rental_info", :locals => { :renting => @renting, :startStation => @startStation}) %>

    <%= form_tag submit_code_renting_path(@renting), data: { turbo: false } do %>
      <%= label_tag ':submit_code', 'Rental Code:' %>
       <%= text_field_tag :submit_code  %>
      <%= submit_tag 'Submit' %>
     <% end %> 
    
    </div>
	</div>
</div>