<div>
<% flash.each do |type, msg| %>
  <div>
    <ul>
      <% m = msg.to_s.delete(msg.to_s[0]) %>
      <% m = m.delete(msg.to_s[-1]) %> 
      <% m = m.delete(m[0]) %> 

      <%= m %> <br>
    </ul>
  </div>
<% end %>
  <h1 Edit My Profile </h1>

<%= form_for @user do |f|%>
  
  <div class="row">
  <div class="column left" style="background-color:rgba(147, 174, 144, 0.1); border:1px double #B4A9DA;">
    <%= f.label :username%></br>
    <%= f.text_field :username%></br>
    <%= f.label :address%></br>
    <%= f.text_field :address%></br>
  </div>
  <div class="column middle" style="background-color:rgba(147, 174, 144, 0.1); border:1px double #B4A9DA;">
    <%= f.label :password%></br>
    <%= f.password_field :password%></br>
    <%= f.label :date_birth%></br>
    <%= f.date_field :date_birth%></br>
    <%= f.label :credit  %> </br>
  <%= f.number_field :credit %> </br>
  </div>
  <div class="column right" style="background-color:rgba(147, 174, 144, 0.1); border:1px double #B4A9DA;">
    <%= f.label :email%></br>
    <%= f.email_field :email%></br>
    <%= f.label :phone_number%></br>
    <%= f.telephone_field :phone_number%></br>
  </div> 
  </br></br></br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <strong><%= f.submit %></strong>
  
</div>

<%end%>


</div>

<br/><br/>
  <div class="row">
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo" >
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
  </div>
    <br/>

<%# <p>Find me in app/views/users/update.html.erb</p></br>%>
