<div>
</br></br>
<h1 style="font-size:2em; background-color:rgba(147, 174, 144, 0.5);"> ⊱⊰ &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Sign Up to Scoot! &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ⊱⊰ </h1>
</div>
<div>
<% flash.each do |type, msg| %>
  <div>
    <ul>
      <% m = msg.to_s.delete(msg.to_s[0]) %>
      <% m = m.delete(msg.to_s[-1]) %> 
      <% m = m.delete(m[0]) %> 
      Invalid Input! Here are some helpful tips: <br>

      <%= m %> <br>
    </ul>
  </div>
<% end %>

<h1 Sign up to scoot! </h1>
<%= form_for @user do |f| =%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.label :email%><br>
  <%= f.email_field :email%><br>
  <%= f.label :address%><br>
  <%= f.text_field :address%><br>
  <%= f.label :date_birth%><br>
  <%= f.date_field :date_birth%><br>
  <%= f.label :phone_number%><br>
  <%= f.telephone_field :phone_number%><br>
  <%= f.label :credit  %> <br>
  <%= f.number_field :credit %> <br>
  </br>
  <strong><%= f.submit "Submit", :style => "width:50px;background-color:#93AE90;"%></strong>
  </br></br>
  <h2><b>Rules & Regulations</b></h2>
  <h2 style="border:2px solid #B4A9DA;" >
  Must be 16 or older to use and sign up for scooter use. Do not steal and make sure to pay for your rental or we will fine you 1 million credits.
  No motorized scooter may travel faster than 20 miles per hour.
  You are not allowed to discriminate against someone on the basis of race, color, religion, national origin or sex.
  ValleyScoot reserved to right to ban any user from our service if they are found to participate in a discriminatory behavior and/or violent behavior, and/or if you show signs of bad vibes.
  People over 6'5 cannot ride on the scooter. Motorized scooter riders have a right to use all public roadways, other than express state highways. Scooter riders must obey all applicable traffic laws and regulations.
  Riders must keep to the right side of the road at all times, including while passing motor vehicles. Motorized scooters must have operational stop and turn signals.
  It is illegal to operate a motor scooter after sunset or before sunrise.All motorized scooter riders must wear helmets. No motorized or electric scooter rider may ride with a passenger.
  Violating any of these motorized scooter laws could result in a fine of up to 3 days of maintenance service for a first violation, 6 days of maintenance service for a second violation, and 2 weeks of maintenance service for a third or subsequent violation.
      <p>
  </h2></br>
<%end%>
<br/><br/><br/><br/><br/>
<div class="row">
  <div class="column">
    <img src = "/logo.jpg" alt = "PAJAS Logo" >
  </div>
  <div class="column">
    <img src = "/logo.jpg" alt = "PAJAS Logo">
  </div>
  <div class="column">
    <img src = "/logo.jpg" alt = "PAJAS Logo">
  </div>
</div>
  <br/>
</div>
 <!--<p> <p>Find me in app/views/users/new.html.erb</p><br>
