<div class="pageHeader bg-info text-white w-100 p-5 rounded-lg">
  <h1 class="display-4">New User</h1>
  <p class="lead">Welcome to our biking family!</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:rgb(50, 110, 223);">ValetBike</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to('Home', {:controller => 'stations', :action => 'index' }, :class => 'nav-link') %>
        <%= link_to("Log In", new_session_path, :class => 'nav-link')%>
        <%= link_to("Sign Up", new_user_path, :class => 'action new nav-link active') %>
        <%# <%= link_to('Membership Purchase', {:controller => 'payments', :action => 'index' }, :class => 'btn btn-payments nav-link') %>
        <%begin%>
         <% if logged_in? %>
              <%= link_to('User Profile', @user, :class => 'nav-link') %>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
</nav>

<div class="container w-50 m-5">
  <%= render 'form', user: @user %>
  <%= link_to 'Back', root_path %>
</div>
