<h1>Sign up</h1>
<%= form_with(model: @user, local: true) do |f| %>
 
<div class="form-group">
  <%= f.label :username %><br/>
  <%= f.text_field :username, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :password %><br/>
  <%= f.password_field :password, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.label :email %><br/>
  <%= f.email_field :email, class: "form-control" %><br/>
</div> 

<div class="form-group">
  <%= f.label :phone_num %><br/>
  <%= f.text_field :phone_num, class: "form-control" %><br/>
</div> 

<div class="form-group">
  <%= f.label :address %><br/>
  <%= f.text_field :address, class: "form-control" %><br/>
</div> 

<div class="form-group">
  <%= f.label :birthday %><br/>
  <%= f.date_field :birthday, class: "form-control" %><br/>
</div>

<div class="form-group">
  <%= f.label :default_payment %><br/>
  <%= f.text_field :default_payment, class: "form-control" %><br/>
</div>
 
<div class="form-group">
  <%= f.submit %>
</div>
 
<% end %>