<style>

.container {
    display: flex;
    width: 50%;
}

#wrapper1 {
  float: left;
  width: 50%;
  padding: 10px;
}

#wrapper2 {
    float: right;
    width: 50%;
    padding: 10px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

#toggleButton {
  font-size: 20px;
}

</style>
  
<% flash.each do |type, msg| %> <!-- Error Messages -->
  <div class = "alert ">
    <%= msg %>
  </div>
<% end %>

<section class="container">
  <%= form_with model: @user, url: users_path do |f| %>
    <div id="wrapper1">
      <h1>Sign Up</h1>
      <hr>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %> 

      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %> 

      <%= f.label :password %>            

      <!-- Makeshift button as not to reload page -->
      <p id="toggleButton" style="float: right; display: inline" onclick="togglePassword()">Show</p> 

      <%= f.password_field :password, class: "form-control" %> 
    </div>

    <div id="wrapper2">
      <h1> Payment Information</h1>
      <hr>

      <%= f.label :'card number' %>
      <%= f.text_field :creditCardNum, class: "form-control" %> 

      <%= f.label :'security code' %>
      <%= f.text_field :securityCode, class: "form-control" %> 

      <%= f.label :'expiration date' %>
      <%= f.text_field :expDate, class: "form-control" %>          
    </div>

    <div class="submit_button">
      <%= f.submit "Create account", class: "button signupbtn" %>
    </div>
  <% end %>
</section>

<script>
  function togglePassword() {
    var toggleButton = document.getElementById("toggleButton");
    var passwordField = document.getElementById("user_password");
    if(passwordField.type == "password") { // Show password
      passwordField.type = "text";
      toggleButton.innerHTML = "Hide"; // Changes button text
    }
    else { // Hide password
      passwordField.type = "password";
      toggleButton.innerHTML = "Show"; // Changes button text
    }
  }
</script>
