<div style="text-align: center;">
<h1 class="font-bold text-3xl" style="background-color:rgba(147, 174, 144, 0.5);" id="profile1">✩✩&emsp;&emsp;&emsp;Profile&emsp;&emsp;&emsp;✩✩</h1>

  <strong>Name:</strong>&nbsp;<%=current_user.username.upcase%></br>
  <strong>Phone Number:</strong>&nbsp;<%=current_user.phone_number%></br>
  <strong>Date of Birth:</strong>&nbsp;<%=current_user.date_birth%></br>
  <strong>Address:</strong>&nbsp;<%=current_user.address%></br>
  <strong>Credits:</strong>&nbsp;<%=current_user.credit%></br></br></br>
  <p> <%= link_to("‧ Edit My Profile ‧",edit_user_path(current_user.id))%>  </p> </br>
  <p> <%= link_to("‧ Rent/Return the scooter? ‧", '/stations/index')%>  </p> </br>
</div>
  <br/><br/>
  <div class="row">
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo" >
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
    <div class="column">
      <img src = "/logo.jpg" alt = "PAJAS Logo">
    </div>
  </div>
    <br/>
<%# <p>Find me in app/views/users/profile.html.erb</p> %>













