<div>
<h1 class="font-bold text-4xl" id="profile">Profile</h1>
  
  <strong>Name:</strong><%=current_user.username.upcase%><br>
  <strong>Phone Number:</strong><%=current_user.phone_number%><br>
  <strong>Date of Birth:</strong><%=current_user.date_birth%><br>
  <strong>Address:</strong><%=current_user.address%><br>
  <% if (current_user.credit < 0)%>
  <strong>Credits:</strong><%=current_user.credit%><br>
  <%=link_to("Deposit more credits?",edit_user_path(current_user.id))%>
  <%else%>
  <strong>Credits:</strong><%=current_user.credit%><br>
  <%end%>
  <p> <%= link_to("Edit My Profile",edit_user_path(current_user.id))%>  <p> <br/>
  <p> <%= link_to("Rent/Return the bike?", '/stations/index')%>  <p> <br/>
</div>

  <!--<p>Find me in app/views/users/profile.html.erb</p>
  
