<h1> Welcome to ValetBike, <%= @user.first_name %>. </h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Log Out', session_path, method: 'DELETE' %> 
