<div  class = "user index"> 
    <h2>User Profile</h2>

    <% if @user %>
        Logged in as: <%= @user.username %><br>
        <%= link_to("Edit username", edit_username_path) %><br>

        block: <%= @user.block %><br>
        email:  <%= @user.email %><br>
        
        address: <%= @user.address %><br> 
        <%= link_to("Edit address", edit_address_path) %><br> 
        
        birthday: <%= @user.birthday %><br>

        <%= link_to("Payment method", payment_path)%><br>

        default payment: <%= @user.default_payment %><br>

        wallet_point: <%= @user.wallet_point%><br>
        <%= link_to("Edit wallet point", edit_wallet_path) %><br> 

    <%else%>
        You haven't logged in. Please log in to see your user profile. 
        <%= link_to("Click here", login_path) %>
    <% end %>
    

</div>