<div class="pageHeader bg-info text-white w-100 p-5 rounded-lg">
  <h1 class="display-4">Rent A Bike</h1>
  <p class="lead">Purchase a Membership or a One-Time Bike Pass!</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:rgb(50, 110, 223);">ValetBike</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <%if logged_in? %>
          <%= link_to('Membership Purchase', {:controller => 'payments', :action => 'index' }, :class => 'btn btn-payments nav-link') %>
          <%= link_to 'User Profile', current_user, :class => 'nav-link' %>
          <%= link_to("Return a Bike", "/return_bike", :class => 'action new nav-link') %>
        <% else %>
          <%= link_to("Log In", new_session_path, :class => 'nav-link')%>
          <%= link_to("Sign Up", new_user_path, :class => 'action new nav-link') %>
        <% end %>

      </div>
    </div>
  </div>
</nav>
<p id="notice" class="notice"><%= notice %></p>


<div class="container m-5">

<div class="choose-station text-center">
  <h2>Purchase A Bike Pass!</h2>
  <p>Rent a bike from any of our stations! We have daily passes or a monthly membership available. Not sure about a membership? Purchase a One-Time Pass below! This gives you a 30 minute ride with a bike from any of our stations, for only $2 per ride. Additional fees will be added if the bike is not returned within the allotted times. One bike per user.</p>
  <br>
  <h4>Select a station to rent a bike from:</h4>
  <script type="text/javascript">
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

  <div class="dropdown">
  <%= form_tag(rent_update_path, method:'PATCH') do %>
  <select name="stationId" id="stationId" class="text-center">
    <% @stations.each do |s| %>
      <% if s.docked_bikes.size > 0%>
        <option value=<%= s.identifier %>><%= s.name %></option>
      <% end %>
    <% end %>
  </select>
  </div>
  <br><br><br>
  <%= submit_tag 'Buy Now', :class => "button2" %>
  <% end %>


</div>

