<h1>Edit Username</h1>

<%= form_with model: Current.user, url: edit_username_path do |form| %>
    <% if Current.user.errors.any? %>
        <div class="alert alert-danger">
            <% Current.user.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>

    <div class="mb-3" >
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control", placeholder: "password" %>
    </div>


    <div class="mb-3">
        <%= form.submit "Update Username", class: "btn btn-primary" %>
    </div>

<% end %>