<!doctype html>
<html lang="en" class="h-100">
  <head>
        <!-- Required meta tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/d095eef785.js" crossorigin="anonymous"></script>
        <title>ValetBike!</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <style>
      /*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.65);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .navbar {
  background: rgba(0,0,0,0);
}
    </style>


    <!-- Custom styles for this template -->
    <!-- <link href="cover.css" rel="stylesheet"> -->
  </head>
  <body class="d-flex h-100 text-center text-white" style="background-image: url(<%= asset_path 'zachary-bikekiosk-unsplash.jpg' %>);background-size: cover">
<div class="d-flex w-100 h-100 mx-auto flex-column">
  <header class="mb-auto">
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
    <%= link_to "<i class='fas fa-bicycle fa-lg' style='color:white'></i> ValetBike".html_safe, root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            -->
                <li class="nav-item">
                <%= link_to "Display Stations and Bikes", stations_index_path, class: "nav-link" %></li>
                <li class="nav-item">
                <%= link_to "How It Works", home_instruction_path, class: "nav-link" %></li>
                <li class="nav-item">
                <%= link_to "Customer Services", cusserve_contacs_path, class: "nav-link" %></li>
          <!-- <a class="nav-link" href="#">Link</a> -->
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <% if user_signed_in? %>
                    <li class="nav-item">
                    <%= link_to "<i class='fas fa-coins'></i>  Credits: #{current_user.credits}".html_safe, new_billing_path, class: "nav-link" %></li>
                    <li class="nav-item">
                    <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %></li>
                    <li class="nav-item">
                    <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %></li>


                <% else %>
                    <li class="nav-item">
                    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
                    <li class="nav-item">
                    <%= link_to "Log In", user_session_path, class: "nav-link" %></li>
                <% end %>
        </ul>
        <!--
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li>
        -->
        <!--
            <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
            </li>
        -->
      <!--
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      -->
    </div>
  </div>
</nav>
  </header>

  <main class="col-md-6 mx-auto">
    <h1>Welcome To ValetBike!</h1>
    <p class="lead">A bike sharing system that allows you to explore on two wheels.
    <br> Keep it Spinning!</p>
    <p class="lead">
      <a href="https://valetbikeeeeee.herokuapp.com/stations/index" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Start Your Journey</a>
    </p>
  </main>


    <div class="container mt-auto text-white-50">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <p class="mb-0 text-muted">&copy; 2021 EEEee</p>

    <ul class="nav justify-content-end">
      <li><%= link_to '<i class="fas fa-bicycle fa-lg" style="color:gray"></i>'.html_safe, stations_index_path, class: "nav-link px-2 text-muted" %></li>
        <li><%= link_to " Display Stations and Bikes", stations_index_path, class: "nav-link px-2 text-muted" %></li>
        <li><%= link_to "How It Works", home_instruction_path, class: "nav-link px-2 text-muted" %></li>
        <li><%= link_to "Customer Services", cusserve_contacs_path, class: "nav-link px-2 text-muted" %></li>
    </ul>
  </footer>
</div>
</div>



  </body>
</html>
