<h2> How It Works! </h2>
<br>
<div class="card-group">
  <div class="card" style="border-width: 0px">
    <div class='mx-2 my-2'>
    <%= image_tag ("instructions_1.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 1 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-users"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
    <div class='mx-2 my-2'>
    <%= image_tag ("instructions_2.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 2 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-credit-card"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
      <div class='mx-2 my-2'>
    <%= image_tag ("instructions_3.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 3 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-map-marked-alt"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
  <div class='mx-2 my-2'>
    <%= image_tag ("instructions_4.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 4 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-bicycle"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
  <div class='mx-2 my-2'>
    <%= image_tag ("instructions_5.gif"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 5 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-biking"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
    <div class='mx-2 my-2'>
    <%= image_tag ("instructions_4.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 6 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-bicycle"></i></a>
    </div>
  </div>
</div>
<br>
<br>