<style>
.card{
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>
<h2> How It Works! </h2>
<br>
<div class="card-group">
  <div class="card" style="border-width: 0px">
    <div class='mx-2 my-2'>
    <%= image_tag ("instructions_1.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 1 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">Please register an account and login.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-users"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
    <div class='mx-2 my-2'>
    <%= image_tag ("instructions_2.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 2 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">In order to borrow a bike, you will need to buy credits.
        Please click the "Credits" button at the top right corner and buy credits.
        You will be required to put in your billing information.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-credit-card"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
      <div class='mx-2 my-2'>
    <%= image_tag ("instructions_3.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 3 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">Navigate to the "Display Stations and Bikes" page by clicking the button
      at the top left. Choose the station that you want to borow the bike from.</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-map-marked-alt"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
  <div class='mx-2 my-2'>
    <%= image_tag ("instructions_4.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 4 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">Find an aviliable bike and remember the identifier.
      Clike "Borrow a Bike" to put in the identifier. You have successfully
    borrowed a bike!</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-bicycle"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
  <div class='mx-2 my-2'>
    <%= image_tag ("instructions_5.gif"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 5 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">Enjoy your journey!</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-biking"></i></a>
    </div>
  </div>
  <div class="card" style="border-width: 0px">
    <div class='mx-2 my-2'>
    <%= image_tag ("instructions_4.png"), :class => "card-img-top rounded"%>
    </div>
    <div class="card-body">
      <h5 class="card-title">STEP 6 <i class="far fa-arrow-alt-circle-right"></i></h5>
      <p class="card-text">Click "Return a Bike" button at the station page and put in
      the identifier of your bike. You are all set!</p>
      <a href="#" class="btn btn-dark"><i class="fas fa-bicycle"></i></a>
    </div>
  </div>
</div>
<br>
<br>
