<% content_for :title, "Pricing | ValetBike" %>

<div class="page-section flexbox vertical stretch">
    <h4 class="pricing-headline">Whether you're looking to rent a bike for a casual stroll or invest in something long-term, ValetBike offers an array of payment options suitable for everyone.</h4>

    <h2 class="pass-title">Short-Term Passes:</h2>
    <div class="payment-option__container row d-flex justify-content-center">

        <div class="col-lg-3">
            <div class="payment-option card" >
                <div class="card-body">
                    <h5 class="card-title">Pay-Per-Ride Pass</h5>
                    <p class="card-text">Pay $1.00 to rent one bike for 1 hour!</p>
                    <h4>$  1.00</h4>
                    <div class="flexbox justify-space-between horizontal stretch">
                    <!-- Button container -->
                        <%= link_to 'Learn More', pricing_pay_per_ride_pass_path, target: "_blank", class:"btn btn-outline-primary" %>
                        <%= link_to 'Buy Membership', rent_path, class:"btn btn-outline-primary" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="payment-option card" >
                <div class="card-body">
                    <h5 class="card-title">Day Pass</h5>
                    <p class="card-text">Pay $4.20 to rent one bike for 1 day!</p>
                    <h4>$  4.20</h4>
                    <div class="flexbox justify-space-between horizontal stretch" >
                    <!-- Button container -->
                        <%= link_to 'Learn More', pricing_day_pass_path, target: "_blank", class:"btn btn-outline-primary" %>
                        <%= link_to 'Buy Membership', rent_path, class:"btn btn-outline-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br>
    <h2 class="pass-title">Long-Term Memberships:</h2>
    <div class="payment-option__container row d-flex justify-content-center">

        <div class="col-lg-3">
            <div class="payment-option card" >
                <div class="card-body">
                    <h5 class="card-title">Monthly Membership</h5>
                    <p class="card-text">Pay $69.69 to rent one bike for 30 days!</p>
                    <h4>$ 69.69</h4>
                    <div class="flexbox justify-space-between horizontal stretch">
                    <!-- Button container -->
                        <%= link_to 'Learn More', pricing_monthly_membership_path, target: "_blank", class:"btn btn-outline-primary" %>
                        <%= link_to 'Buy Membership', rent_path, class:"btn btn-outline-primary" %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="payment-option card" >
                <div class="card-body">
                    <h5 class="card-title">Annual Membership</h5>
                    <p class="card-text">Pay $169.69 to rent one bike for 365 days!</p>
                    <h4>$169.69</h4>
                    <div class="flexbox justify-space-between horizontal stretch">
                    <!-- Button container -->
                        <%= link_to 'Learn More', pricing_annual_membership_path, target: "_blank,", class:"btn btn-outline-primary" %>
                        <%= link_to 'Buy Membership', rent_path, class:"btn btn-outline-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p> This is the Pricing page. </p> -->