<% @current_station = params[:station] %>
current station: <%= @current_station%>


<% stations = Station.where(is_full: 0) %>
<%stations.each do |station| %>
<%= station.identifier%>
    <%= form_for @rental do |f|%>
    <%= f.hidden_field :end_station_id, value: station.identifier %>
    <%= f.hidden_field :end_time, value: Time.now%><br>
    <strong><%= f.submit("return my bike here")%></strong>
  
<% end%>

<div>
  <h1 Return My Bike </h1>



<%end%>
