<div>You have selected: <%= @bike.identifier %></div>
<%= form_with(model: @rental, url: rentals_url(@bike.identifier), method: :post) do |f| %>
  <div>
    <%= f.label :hours %>
    <%= f.select :hours, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])%>
  </div>

  <div id="price">Price: 10</div>

  <div>
    <%= f.submit "Rent Bike" %>
  </div>
 <% end %>

 <script type="module">
 import "jquery"
$( document ).ready(() => {
    console.log("READY")
    function changePrice() {
        var prices = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100];
        var hours = $(this).val();
        console.log("123 " + hours)
        var price = prices[hours];
    
        console.log("Hour: " + hours);
        $("#price").html("Price: " + price);
    };
    $("#hours").on("change", changePrice);
})
 </script>