<h1>Rental!!! weeee </h1>

  <%= form_for @rental, action: :new do |f| %>
    <%= f.hidden_field :start_time, value: Time.now %>
    <%= f.hidden_field :start_station_id, value:  #how do we get acess to current station%> 
    <%= f.hidden_field :user_id, value: @current_user %>
    <%= f.submit %>
  <% end %>


  


