<h1>Rental!!! weeee </h1>

<% @current_user = current_user %>
current user: <%= @current_user%>


<%= form_for @rental do |f|%>
 <%= f.label :user_id%><br>
 <%= f.hidden_field :user_id, value: @current_user.id%><br>
 <%= f.label :bike_id%><br>
 <%= f.number_field :bike_id%><br>
 <%= f.label :start_station_id%><br>
 <%= f.number_field :start_station_id%><br>
 <strong><%= submit_tag "Rent"%> </strong>
 <strong><%= f.submit %></strong>



  <% end %>


  


