%script(src="https://www.paypal.com/sdk/js?client-id=AVph5pjqoWK3kHoG9EX2lNQ5cKTqZs_bwSTspoqegfUNfE9Z1Hpfc3po3ESK16u6XIIl8oQh7AfSGD3A")
%div
  %h1 List of memberships
  = form_tag({:controller => "orders", :action => "submit" }, {:id => 'order-details'}) do
    %input{id:'order-type', :type=>"hidden", :value=>"stripe", :name=>'orders[payment_gateway]'}
    .form_row
      %h4 Charges/Payments
      - @memberships_purchase.each do |membership|
        %div{'data-charges-and-payments-section': true}
          = radio_button_tag 'orders[membership_id]', membership.id, @memberships_purchase.first == membership
          %span{id: "radioButtonName#{membership.id}"} #{membership.name}
          %span{id: "radioButtonPrice#{membership.id}", :'data-price' => "#{membership.price_cents}"} #{humanized_money_with_symbol membership.price}
        %br
      %h4 Subscriptions
      - @memberships_subscription.each do |membership|
        %div
          = radio_button_tag 'orders[membership_id]', membership.id, false
          %span{id: "radioButtonName#{membership.id}"} #{membership.name}
          %span{id: "radioButtonPrice#{membership.id}", :'data-price' => "#{membership.price_cents}"} #{humanized_money_with_symbol membership.price}
        %br
    %hr
    %h1 Payment Method
    .form_row
      -# %div
      -#   = radio_button_tag 'payment-selection', 'stripe', false, onclick: "changeTab();"
      -#   %span Stripe
      %br
      %div
        = radio_button_tag 'payment-selection', 'paypal', false, onclick: "changeTab();"
        %span Paypal
    %br
    %br
    -# %div{id:'tab-stripe', class:'paymentSelectionTab active'}
    -#   %div{id:'card-element'}
    -#   %div{id:'card-errors', role:"alert"}
    -#   %br
    -#   %br
    -#   = submit_tag "Buy it!", id: "submit-stripe"
    %div{id:'tab-paypal', class:'paymentSelectionTab'}
      %div{id: 'submit-paypal'}
    %br
    %br

:javascript
  function changeTab() {
    var newActiveTabID = $('input[name="payment-selection"]:checked').val();
    $('.paymentSelectionTab').removeClass('active');
    $('#tab-' + newActiveTabID).addClass('active');
  }

  (function setupPaypal() {
    function isPayment() {
      return $('[data-charges-and-payments-section] input[name="orders[membership_id]"]:checked').length
    }

    function submitOrderPaypal(chargeID) {
      var $form = $("#order-details");
      // Add a hidden input orders[charge_id]
      $form.append($('<input type="hidden" name="orders[charge_id]"/>').val(chargeID));
      // Set order type
      $('#order-type').val('paypal');
      $form.submit();
      }

      paypal.Buttons({
        env: "#{ENV['PAYPAL_ENV']}",
        createOrder: function() {
          $('#order-type').val("paypal");
          if (isPayment()) {
            return $.post("#{paypal_create_payment_url}", $('#order-details').serialize()).then(function(data) {
              return data.token;
            });
          } else {
          }
      },
      onApprove: function(data) {
        if (isPayment()) {
          return $.post("#{paypal_execute_payment_url}", {
            paymentID: data.paymentID,
            payerID:   data.payerID
          }).then(function() {
            submitOrderPaypal(data.paymentID)
          });
        } else {
        }
      }
    }).render('#submit-paypal');
  }());

:css
  #card-element {
    width:500px;
  }
  .paymentSelectionTab {
    display: none;
  }
  .paymentSelectionTab.active {
    display: block !important;
  }
