<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">

    <div class="section-title">
      Welcome to bikesia   <% if Current.user %> <%= Current.user.username %><% end %> 
      
    </div> 

    <% if Current.user %>
        <%= button_to "Logout", logout_path, method: :delete %>
        <%= link_to("Change Password", edit_password_path) %>
    <% else %>
        <%= link_to("Log In", login_path) %>
        <%= link_to("Sign Up", signup_path) %>
    <% end %>


    <html>
        <head> 
            <title> How to make a page</title>
            <link rel="stylesheets" href="/style.css">
        </head>
        <body>
            <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="#"><%= link_to("Stations", stations_path) %></a ></li>
                    <li><a href="#"><%= link_to("Profile", user_home_path) %></a ></li>
                </ul>
            </div>
            </div>
    
        </body>
    </html>


  
    
    

    </div>
</div>
