<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">

    <div class="section-title">
      <h1>
      Welcome to Bikesia   <% if Current.user %> <%= Current.user.username %><% end %> 
      </h1>
      
      <h3>
      Get ready to explore! 
      </h3> 

      <% if Current.user.try(:admin?) %>
        <p>Hello Admin <%= Current.user.username %> </p>
      <% end %>
      
    </div> 


    <html>

        <body>
            <div class="banner1">
            <div class="navbar">
                <ul>
                    <li><a href="#"><%= link_to("Stations", stations_path) %></a ></li>
                    <li><a href="#"><%= link_to("Profile", user_home_path) %></a ></li>
                    <li><a href="#"><%= link_to("Map", map_path) %></a ></li>
                    <li><a href="#"><%= link_to("Return", return_path($bike)) %></a ></li>
                    <li><a href="#"><%= link_to("Report", new_report_path) %></a ></li>
                </ul>
                
            </div> 
            </div>
            <br>

            <div class="banner">
            </div>
            
          <br>
          <h2> About Us </h2>
          <h3> Proudly serving since 2023 </h3> 
          <div class="banner2">
          </div>
          <p> 
          The Bikesia team is passionate about helping people in the 
          Western Massachusetts Valley explore the outdoors and access 
          nearby towns in an environmentally friendly way! <br>
          That is why we created Bikesia, the ultimate bike rental 
          service. With our service, you can easily unlock one of
          our top of the line bikes for a low fee. 
          Spend time with friends, explore the world around you, 
          and more with our simple bike rental process.
          </p>
          <br>

          <h2> How Does It Work? </h2>
          <h3>  Our rental service is as easy as 1, 2, 3! </h3>
          <div class="banner3">
          </div> 
          <br>
          <p> 
          1.  Sign up to join the ValetBike community, or log in to you account <br>
          <br>
          2.  Use our map to reserve a bike and calculate your optimal route  <br>
          <br>
          3.  Ride your bike for the allotted time, then return it to any station  <br>
          <br>
          See you on the roads!
          <br>
          <br>
          
          </p>
        </body>

    </html>


  
    
     
    </div>
</div>
