<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    
    <% if Current.user.try(:admin?) %>
        Helllllo!
    <% end %>

    <div class="section-title">
      <h1>
      Welcome to Bikesia   <% if Current.user %> <%= Current.user.username %><% end %> 
      </h1>
      
      <h3>
      Get ready to explore! 
      </h3> 
    </div> 

    <% if Current.user %>
        <%= button_to "Logout", logout_path, method: :delete %>
        <%= link_to("Change Password", edit_password_path) %>
         <%=link_to('return', return_path($bike))%>
        

    <% else %>
        <%= link_to("Log In", login_path) %>
        <%= link_to("Sign Up", signup_path) %>
    <% end %>

<html>
        <head> 
            <title> How to make a page</title>
            <link rel="stylesheets" href="/style.css">
        </head>
        <body>
            <div class="banner">
            <div class="navbar">
                <ul>
                    <li><a href="#"><%= link_to("Stations", stations_path) %></a ></li>
                    <li><a href="#"><%= link_to("Profile", user_home_path) %></a ></li>
                    <li><a href="#"><%= link_to("Map", map_path) %></a ></li>
                </ul>
            </div>
            </div>
    
        </body>
    </html>
  
    
     
    </div>
</div>
