<div class="page-section flexbox vertical stretch"> 
  <div class="section-inner flexbox vertical stretch"> 
    <div class="section-title flexbox horizontal center">
      Meet the Bikesia Fleet!
      <button class="unlock-button"><%=link_to('View Stations', stations_path)%></button>
      <button class="unlock-button"><%=link_to('Homepage', root_path)%></button>
    </div>
    <div class="flexbox vertical stretch">
      <% if @bikes.present? %>
        <div class="record-row header flexbox horizontal justify-space-between">
          <% if params[:reverse].blank? || params[:reverse] == "0" %>
            <button class="unlock-button"><%=link_to('Order', bikes_path(params: {reverse: 1}))%></button>
          
          <% else %>
           <button class="unlock-button"><%=link_to('Order', bikes_path)%></button>

          <% end %>
        </div>
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      <% end %> 
    </div>
  </div> 
</div>

