<p></p>
<%@counter=1%>
<% @bikes.each do |bike| %> 
      
      <% if bike.current_station_id == params[:id].to_i%>
         <p>bike: <%= @counter%><p>
         <%@counter = @counter+1%>
        
         <%#=link_to("Borrow the Bike!", {:controller => 'bikes', :action => 'unlock', :id => params[:id], :identifier => bike.identifier}) %>
         <%@rented=bike.identifier%>
         
      <% end %>
   
<% end %>  

<% if current_user!=nil %>
   <% if current_user.credits>0 %>
      <%=link_to("Borrow the Bike!", {:controller => 'bikes', :action => 'unlock', :id => params[:id]}) %>
   <%end%>
   <% if current_user.credits <= 0 %>
      <%= link_to "Go buy some credits to borrow a bike!", new_billing_path %></li>
<% end %>
<% end %>
<% if current_user== nil %>
      <%= link_to "Sign up/Log in and Go buy some credits to borrow a bike!", user_session_path %></li>
<% end %>
<br /><br />
<%= link_to("Return the Bike", {:controller => 'bikes', :action => 'return', :id => params[:id]}) %>
<br /><br />
<button class="btn btn-secondary btn-sm" onclick="window.location.href='http://localhost:3000/stations/index';">
Back to List
</button>
<%#= link_to('Back to List', {:controller => 'stations', :action => 'index'}) %>