<p> To unlock the bike, please enter the Bike # below handlebars </p>
<%@bikes_list = []%>
<% @bikes.each do |bike| %>
      
      
      <% if bike.current_station_id == params[:id].to_i%>
      
        <%@bikes_list.append(bike.identifier)%>
         
      <% end %>
   
<% end %>

<%= form_tag "#" do %>
  <%= label_tag :input, "bike identifier:" %>
  <%= text_field_tag :input %>
  <% @input = params[:input]%>
  <%= submit_tag " confirm "%>
<%end%> 
 
<% if @bikes_list.include? @input.to_i%>
  <script type="text/javascript">
    window.location.href="/bikes/unlockConfirm?id=<%= params[:id] %>&identifier=<%=@input%>"  
  </script>
<%elsif @input==nil%>
<%else%>
  <br>
  <p>Wrong identifier! Try it again</p>
<% end %>

<br>

  <%= link_to("Back to the station", {:controller => 'bikes', :action => 'show',:id => params[:id]}) %>



