<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
    text-align:center;
    line-height: 1.8;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }
  </style>
</head>
<body>
  <div class="page-section flexbox vertical stretch">
    <div id="header">
      <div id="header-title">ValetBike</div>
      <div class="float-right">
        <ul>
          <li><%= link_to('Home', root_url, class: 'header-links') %></li>
          <li><%= link_to('About', new_tab_url, class: 'header-links active') %></li>
          <li><%= link_to('Process', {:controller => 'tabs', :action => 'index'}, class: 'header-links') %></li>
          <li><%= link_to('Memberships', {:controller => 'memberships', :action => 'index'}, class: 'header-links') %></li>
          <% if user_signed_in? %>
            <li><%= link_to("Profile", current_user, class: 'header-links') %></li>
          <% else %>
            <li><%= link_to('Register', new_user_registration_path, class: 'header-links') %></li>
            <li><%= link_to('Login', new_user_session_path, class: 'header-links') %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<!--Credits for format: https://www.w3schools.com/howto/howto_css_team.asp-->
<br>
<h1>About ValetBike</h1>
<br>

<p class="centDiv"> Valetbike was created in 2018 as a community tech co-op to service the community of Nipmuc Notch
    with <br>an accessible, convenient, and reliable bike share service. We hope students, workers, shoppers, <br>and
    adventurers can all find use in ValetBike. Please read about the process of renting a bike <%= link_to('here', {:controller => 'tabs', :action => 'index'}) %>.
</p>

<br>
<br>

<h1>About the Team</h1>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Bri Laurenceau</h2>
        <p class="title">Class of '2022J</p>
        <p>Bri is a STEM AEMES Scholar studying Computer Science at Smith College with an interest in video game design and development. <br>
          He has experience in a variety of programming languages and video game engines such as JS, C#, Java, Python, Unity, Unreal and Construct 3. <br>
          He has developed 2D multi level platform games and codeveloped a simple 3D multi-difficulty zombie themed game. He enjoys drawing, video games,
          anime, and being outside.</p>
        <p><i>blaurenceau@smith.edu</i></p>
        <p><button class="button"><a href="mailto:blaurenceau@smith.edu">Contact</a><button></p>
        <br>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Kayahma Brown</h2>
        <p class="title">Class of 'XX</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><i>kbrown98@smith.edu</i></p>
        <p><button class="button"><a href="mailto:kbrown98@smith.edu">Contact</a><button></p>
        <br>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="Alicia" style="width:100%">
      <div class="container">
        <h2>Alicia Weaver</h2>
        <p class="title">Class of 2023</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><i>ajweaver@smith.edu</i></p>
        <p><button class="button"><a href="mailto:ajweaver@smith.edu">Contact</a><button></p>
        <br>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="centDiv">
        <%=image_tag("nikki.jpg", width: 250, :alt => "Nikki")%>
      </div>
      <div class="container">
        <h2>Nikki Kirk</h2>
        <p class="title">Class of 2022</p>
        <p>Nikki is a Computer Science Major at Smith College pursuing a career in cloud computing after graduation. <br>
          Prior to transferring to Smith, she studied robotic engineering and computer networks. She has experience working with a variety of languages including <br>
          Java, Python, C, C#, HTML, CSS, and JavaScript. Outside of work and school she enjoys playing video games, all things Disney, and hanging out with her basset hound Luna.</p>
        <p><i>nkirk@smith.edu</i></p>
          <p><button class="button"><a href="mailto:nkirk@smith.edu">Contact</a><button></p>
        <br>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <div class="centDiv">
      <%=image_tag("brenda.jpg", width: 250, :alt => "Brenda")%>
    </div>
      <div class="container">
        <h2>Brenda Gutierrez</h2>
        <p class="title">Class of 2023J</p>
        <p> Brenda is a STEM Posse 5 Scholar studying Computer Science with an Environmental Concentration at Smith College.
          They have experience in a variety <br> of frontend and backend programming languages such as HTML, CSS, JS, PHP, C++, Java, Python, and more.
          They are a Girls Who Code alum and worked as a Software Engineer Intern at Northrop Grumman for the past two years. <br>You may see them
          gushing over cat/bird videos, taking nature walks, reading, or watching anime. </p>
        <p><i>bgutierrez@smith.edu</i></p>
        <p><button class="button"><a href="mailto:bgutierrez@smith.edu">Contact</a><button></p>
        <br>
      </div>
    </div>
  </div>
</div>

</body>
</html>
