<!-- Landing Page -->
<!-- static/landing (root) -->
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="page-section flexbox vertical stretch">
      <div id="header">
        <div id="header-title">ValetBike</div>
        <div class="float-right">
          <ul>
            <li><%= link_to('Home', root_url, class: 'header-links active') %></li>
            <li><%= link_to('About', new_tab_url, class: 'header-links') %></li>
            <li><%= link_to('Memberships', {:controller => 'memberships', :action => 'index'}, class: 'header-links') %></li>
            <% if user_signed_in? %>
              <li><%= link_to("Profile", current_user, class: 'header-links') %></li>
            <% else %>
              <li><%= link_to('Register', new_user_registration_path, class: 'header-links') %></li>
              <li><%= link_to('Login', new_user_session_path, class: 'header-links') %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <!--Credit:
      https://www.w3schools.com/howto/howto_css_image_text.asp
      -->

    <div class="page-section flexbox vertical stretch">
      <div id="map_section" class="full-height">
        <div class="imgContainer">
          <%=image_tag("valley.jpeg", style: 'width:100%;', :alt => "Nipmoc Notch", class: 'imgOpacity')%>
          <div class="imgText"><h1 style="color:white; font-size:60px;">Welcome to Valetbike</h1>
            <br>
            <h3> A bike share service made by the community, for the community.</h3>
            <br>
            <h3> Create an account <%= link_to('today', new_user_registration_path, {:style=>'color:white;'})%>. </h3>
          </div>
        </div>
        <br>
        <br>
        <h1>Bike Stations</h1>
        <br>
        <!--The div element for the map -->
        <div id="map"></div>
     </div>
    </div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA2Fh8-gg0ylW23s_Q1I_zkLPBGx8OKqo&callback=initMap&libraries=&v=weekly"
      async></script>
  </body>
</html>
