<!-- Landing Page -->
<div class="page-section flexbox vertical stretch">
  <div id="header">
    <div id="header-title">ValetBike</div>
    <div class="float-right">
      <ul>
        <li><%= link_to('Home', root_url, class: 'header-links active') %></li>
        <li><%= link_to('About', new_tab, class: 'header-links') %></li>
        <li><%= link_to('Process', root_url, class: 'header-links') %></li>
        <li><%= link_to('Register', new_user_path, class: 'header-links') %></li>
        <li><%= link_to('Login', new_session_path, class: 'header-links') %></li>
      </ul>
    </div>
  </div>
</div>
<div class="page-section flexbox vertical stretch">
  <div id="map_section" class="full-height">
    <div class="section-title">**Map Will Go in this section</div>
  </div>
</div>
