<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      User Profile
    </div>  
    <div class="flexbox vertical stretch"><br>
      <b>User Information</b>
    </div>
    <div class="flexbox vertical stretch">
      <div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
          <%= render(partial: "user_info", :locals => { :user => @user}) %>
      </div>
    </div>
     <div class="flexbox vertical stretch"><br>
      <b>In-progress trip</b>
    </div>

    <div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
      <% if @inProgressRenting.present? %>
        <%= render(partial: "renting/rental_info",:locals => { :renting => @inProgressRenting}) %>
        <button> <%= link_to "Click Me to return the bike!",{controller: 'renting', action: 'show', id: @inProgressRenting[:id]} %> </button>
      <% else %>
        <div class = "h3", style = "text-align: center;">You currently don't have in progress rental process </div><br>
        <button><%= link_to "Click me to rent a bike!", stations_path %></button>
      <%end%>
    </div>
    <div class="flexbox vertical stretch"><br>
      <b>Travel History</b>
    </div>
    <% if @rentalHistory.present? %>
      <div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
        <%= render(partial: "renting/rental_info",collection: @rentalHistory, as: :renting) %>
      </div>
    <%else%>
       <div class = "flexbox vertical stretch", style = "text-align: center;">You don't have any rental history... <br> Starting your journey today? </div><br>

    <%end%>
    </div>
	</div>
</div>
