<div class="bg-info text-white w-100 p-5 rounded-lg pageHeader">
  <h1 class="display-4">Membership Purchase</h1>
  <p class="lead">Hey, <%= current_user.first_name %>! Wanna Go on a Trip Now? Select a Membership Option!</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:rgb(50, 110, 223);">ValetBike</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to('Home', {:controller => 'stations', :action => 'index' }, :class => 'nav-link') %>
        <%#  <%= link_to("Log In", new_session_path, :class => 'nav-link')%>
      <%#    <%= link_to("Sign Up", new_user_path, :class => 'action new nav-link') %>
      <%#    <%= link_to('User List', {:controller => 'users', :action => 'index' }, :class => 'nav-link') %>
        <a class="nav-link active" aria-current="page" href="#">Membership Purchase</a>

        <%= link_to('User Profile', current_user, :class => 'nav-link') %>
        <%= link_to("Return a Bike", "/return_bike", :class => 'nav-link') %>

      </div>
    </div>
  </div>
</nav>

<p id="notice" class="notice"><%= notice %></p>
<%if has_membership? %>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Careful!</h4>
    <p>You already have an active membership: <%= current_user.membership %></p>
    <hr>
    <p class="mb-0">Please be careful that if you purchase a new membership, it will replace the current membership plan you're on.</p>
  </div>
<% end %>

<div class="container m-5">
  <div class="row row-cols-1 row-cols-md-3 gx-5 text-center justify-content-md-center">
    <div class="col col-lg-3">
        <div id="monthlyCard" class="card h-100 border-info shadow-sm membershipOptions" onclick='selectMembershipOption("Monthly Membership", "monthlyCard")'>
            <div class="card-body">
                <h3 class="card-title">Monthly Membership</h3>
                <hr class="my-4">
                <p class="card-text">Access to the system for 1 month. Dock every 45 mins to avoid overage fees. One bike per phone.</p>
                <h3>$20</h3>
            </div>
        </div>
    </div>
    <div class="col col-lg-3">
        <div id="dayCard" class="card h-100 border-info shadow-sm membershipOptions" onclick='selectMembershipOption("Day Pass", "dayCard")'>
            <div class="card-body">
                <h3 class="card-title">Day Pass</h3>
                <hr class="my-4">
                <p class="card-text">Access to the system for 24 hours. Dock within 30 mins to avoid overage fees. One bike per phone.</p>
                <h3>$6</h3>
            </div>
        </div>
    </div>
    <div class="col col-lg-3">
        <div id="rideCard" class="card h-100 border-info shadow-sm membershipOptions" onclick='selectMembershipOption("Pay Per Ride", "rideCard")'>
            <div class="card-body">
                <h3 class="card-title">Pay Per Ride</h3>
                <hr class="my-4">
                <p class="card-text">Pay $2 per ride and per bike. Dock within 30 mins to avoid overage fees. Up to 4 bikes per phone.</p>
                <h3>$2</h3>
            </div>
        </div>
    </div>
  </div>
</div>

<div id="smart-button-container" class="w-50">
    <div style="text-align: center;">
        <div>
          <select id="item-options" style="visibility: hidden">
            <option value="Monthly Membership" price="20">Monthly Membership - 20 USD</option>
            <option value="Day Pass" price="6">Day Pass - 6 USD</option>
            <option value="Pay Per Ride" price="2">Pay Per Ride - 2 USD</option>
          </select>
          <select style="visibility: hidden" id="quantitySelect"></select>
        </div>
        <div id="paypal-button-container"></div>
    </div>
</div>

<script>
initPayPalButton();
</script>
