<!DOCTYPE html>
<html>
<head>
  <title> Payment </title>
  <style>
    button {
      padding: 10px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      color: white;
      background-color: #8C1627;
      border-radius: 10px;
      width: 90%;

    }

    .container {
      width: 90%;
      height: 600px;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
      padding-top: 0px;
      overflow-x: hidden;
    }

    .left_column{
      width: 50%;
      float: left;
    }

    .right_column{
      width: 50%;
      float: right;

    }
    .section1 {
      display: inline-block;
      justify-content: space-between;
    }
    .section1 p {
      float: left; 
      right: 50px;
    }
    .section1 h3 {
      float: right; 
      margin-left: 350px;
    }

    .section2 {
      display: inline-block;
      justify-content: space-between;
    }

    .section2 h3 {
      float: right; 
      margin-left: 325px;
    }
    .registered_cards h3 {
      position: relative;
      left: 20px;
      font-size: 20px;
      text-align: center;
    }

    .bike img {
      float: left;
      bottom: 0;
    }
    .border {
      border: 1px solid grey;
      border-radius: 5px;
      width: 90% ;   
    }
    .text {
      font-size: 17px;
    }

    .links{
      background-color: #8C1627;
      color: white;
      padding: 8px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 10px;
    }
    th, td {
      padding: 8px;
    }

  </style>
</head>

<body>
  
  <div class="container">
    <h1> Payment </h1>
    <div class="left_column">
      <div class = "border">
        <div class = "registered_cards">
          <br>
          <h3> Registered Cards </h3>
        </div>
        <hr>
        <div class = "card_table"> 
          <table>
            <tr>
              <th> <%= image_tag("Success.png") %> </th>
              <th> Name </th>
              <th> Card Number </th>
              <th> Options </th>
            </tr>
            <% @cards.each do |card| %>
            <tr>
              <td> <%= image_tag("creditcard.png") %> </td>
              <td> <%= card.cardholder_name %> </td>
              <td> <%= card.card_number %> </td>
              <td class = "actions">
                <%= link_to "Show", card_path(card), class: "links" %>
                <%= link_to "Edit", edit_card_path(card), class: "links" %>
                <%= link_to "Delete", delete_card_path(card), class: "links" %>
                <%= link_to("Pay $6.12", pay_card_path(card, station_id: params[:station_id]), class: "links") %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
      <br>
      
      <br>
      
      <button><%= link_to("Add New Card", new_card_path(station_id: params[:station_id]), class: "links") %></button> <br>
      <br>
      
      <p class="text">Your personal data will be used to process your order, support your <br> experience throughout this website, and for other purposes described in <br> our privacy policy. </p>
   </div>

    <div class="right_column">
      <div class="border">
        <br>
        <h2> Order Summary </h2>
        <br>
        <hr>
        <br>
        <div class="first_row">

          <div class = "section1">
            <p class="text"> Valet Bike 2hr ride  </p>
          </div>
          
          <div class = "section1">
            <h3 style = "font-size: 20px;" > $6 </h3>
          </div>

        </div>
        <br>
        <hr>
        <br>

        <div class="second_row">
          <div class = "section2">
              <p class="text">Total </p>
              <p class="text">Including 2% in taxes </p>
          </div>
    
          <div class = "section2">
            <h3 class="text"> $6.12 </h3>
          </div>
        </div> 
        <br>
      </div>
    </div> 
  </div>
</body>

</html>