<!DOCTYPE html>
<html>
  <head>
    <style>
      .cards_show { 
        top: 50%;
        left: 50%;
        width: 20em;
        height: 18em;
        transform: translate(-50%, -50%);
        position: fixed;
       
      }
      .actions {
        padding: 10px 10px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
        background-color: #8C1627;
        border-radius: 10px;
        width: 15%
      }
    </style>
  </head>
  <body>
   

    <div class="cards_show">
      <h2>Card Details</h2>

      <table summary="Card detail view">
        <tr>
          <th>Name</th>
          <td><%= @card.cardholder_name %></td>
        </tr>
        <tr>
          <th>Card Number</th>
          <td><%= @card.card_number %></td>
        </tr>
        <tr>
          <th>Created</th>
          <td><%= @card.created_at %></td>
        </tr>
        <tr>
          <th>Updated</th>
          <td><%= @card.updated_at %></td>
        </tr>
      </table>
      <div class="actions">
        <%= link_to('Edit', edit_card_path(@card)) %>
      </div>
      <div class="actions">
        <%= link_to('Delete', delete_card_path(@card)) %>
        
      </div>
      <div class="actions">
        <%= link_to("Back", cards_path, class: 'back-link') %>
      </div>

    </div>
  </body>
</html>
