<style type="text/css">
	h2 {
		font-weight: normal;
	}
</style>
<h1>✔️Return Successful<h1><br>
<h2>Thank you for supporting ValetBike!<h2><br>
<h2>You returned <%= @numBikes %> bike<% unless @numBikes == 1 %><%="s"%><% end %> 
	to <%= @stationName %> at <%= @currentTime %>.</h2><br>
<h2>Your total rental time was <%= @minutes %> minute<% unless @minutes == 1 %><%="s"%><% end %>.</h2><br>
<h2>Your total cost comes to $<%= @cost %>.</h2>