<style type="text/css">
	h2 {
		font-weight: normal;
	}
</style>
<h1>✔️Rental Successful<h1><br>
<h2>Thank you for choosing ValetBike, enjoy your ride!<h2><br>
<h2>You rented <%= @numBikes %> bike<% unless @numBikes == 1 %><%="s"%><% end%> from <%= @stationName %> at <%= @currentTime %>.</h2><br>
<h2><%=link_to"Return Bikes",return_url %></h2>