<style>

.container {
  width: 25%;
  margin: 0 auto;
}

.cent {
	text-align: center;
}

</style>

<section class="container">

	<h1>Rental</h1>
	<hr>

	<% if @stations.present? %>

		<%= form_with url: "/unlock", method: :get do |form| %>
			<%= form.label :stationName, "Station: " %>
			<%= form.select :stationName, @stations.pluck(:name) %> <!-- Creates dropdown menu of all stations -->
			<%= form.label :numBikes, "Number of Bikes: " %>
			<%= form.number_field :numBikes, min:1, value:1 %> <!-- Upper bound set dynamically -->
			<div class="submit_button">
				<%= form.submit "Rent", class: "button" %>
			</div>
		<% end %>

	<% else %>
		<div class="empty">
        No bikes availible. Please check back later.
    </div>
	<% end %>
	<br>
	<div class="cent">
		<%=link_to"Return Bikes",return_url %>
	</div>

</section>

<script type="text/javascript">
	var maxBikesHash = JSON.parse('<%= @maxBikesHash.html_safe %>'); // Parses JSON from rental_controller.rb
	var stationNameField = document.getElementById("stationName");
	var numBikesField = document.getElementById("numBikes");
	stationNameField.addEventListener("change", updateMaxBikes); // Waits for station change

	function updateMaxBikes() {
		stationName = stationNameField.value;
		maxBikes = maxBikesHash[stationName];
        numBikesField.setAttribute("max", maxBikes); // Dynamically updates max value of number input field
        numBikesField.value = Math.min(numBikesField.value, maxBikes); // Decrements number of bikes if requested bikes exceeds number at new station
	}

	updateMaxBikes(); // Calls on page load
</script>