<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= link_to "#{membership.name}", pages_home_path %> <%= membership.cost %>$ every <%= membership.payment_frequency %> <%= membership.time_unit %><br>
</div>