<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      <%= @membership.name %>
    </div>
        <% if @membership.description.present? %>
    <p><b>Description:</b> <%= @membership.description %><br></p>
    <% else %>
      <%= @membership.cost %>$ for <%= @membership.payment_frequency %> <%= @membership.time_unit %><br></p>
      <% end %>
      <p><b>Cost:</b> <%= @membership.cost %>$<br></p>
      <p><b>Membership started:</b> <%= @membershipassignment.start.localtime.strftime("%B %-d, %Y at %I:%M %P") %><br></p>
     <p><b>Membership end:</b> <%=@membershipassignment.end_to_string %></p>
     <% if @membership.cost > 0 %>
      <%= button_to("Cancel existing membership", cancel_membership_path, params: {:membership_assignment_id => current_user.get_membership_assignment.id}, method: :get) %>
     <% else %>
        <%= button_to("Upgrade membership", add_membership_path, method: :get) %>
     <% end %>
    </div>
	</div>