<h1>Edit Wallet Point</h1>

<script>
       function showOptions() {
         
           var paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
          if (paymentMethod === "creditCard") {
               document.getElementById("creditCardOptions").style.display = "block";
               document.getElementById("paypalOptions").style.display = "none";
               document.getElementById("couponOptions").style.display = "none";
           } else if (paymentMethod === "paypal") {
               document.getElementById("creditCardOptions").style.display = "none";
               document.getElementById("paypalOptions").style.display = "block";
               document.getElementById("couponOptions").style.display = "none";
           } else if (paymentMethod === "coupon") {
               document.getElementById("creditCardOptions").style.display = "none";
               document.getElementById("paypalOptions").style.display = "none";
               document.getElementById("couponOptions").style.display = "block";
           } else {
               document.getElementById("creditCardOptions").style.display = "none";
               document.getElementById("paypalOptions").style.display = "none";
               document.getElementById("couponOptions").style.display = "none";
           }
       }

   </script>




<br>


   <div>
       <form action="/action_page.php"> <!-- this should be payment_action or the payment controller page -->
           <h2>Select Payment Method:</h2><br>
           <label><input type="radio" name="paymentMethod" value="paypal" onchange="showOptions()">PayPal</label><br>
           <label><input type="radio" name="paymentMethod" value="creditCard" onchange="showOptions()">Credit/Debit</label><br>
           <label><input type="radio" name="paymentMethod" value="coupon" onchange="showOptions()">Coupon</label><br>
        </form>
       <br><br><br>

       <!-- hidden div options: -->

       <div id="creditCardOptions" style="display: none;">
           <h3>Credit / Debit Card Payment</h3>
            <%= form_with url: change_wallet_path do |form| %>
                <% if Current.user.errors.any? %>
                    <div class="alert alert-danger">
                        <% Current.user.errors.full_messages.each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                <% end %>

                 <div class="mb-3" >
                    <%= form.label :finamecard, "Enter your First Name" %>
                    <%= form.text_field :finamecard, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :lanamecard, "Enter your Last Name" %>
                    <%= form.text_field :lanamecard, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :card_num, "Card Number" %>
                    <%= form.text_field :card_num, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :card_date, "Expiry Date" %>
                    <%= form.date_field :card_date, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :cvv, "CVV" %>
                    <%= form.text_field :cvv, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :wallet_add_card, "How much do you want to add" %>
                    <%= form.number_field :wallet_add_card, class: "form-control"%>
                </div>

                <div class="mb-3">
                    <%= form.submit "Submit", class: "btn btn-primary" %>
                </div>

            <% end %>
       </div>


       <div id="paypalOptions" style="display: none;">
           <!-- this will eventually redirect to paypal API -->
           <h3>PayPal Payment</h3>
            <%= form_with url: change_wallet_path do |form| %>
                <% if Current.user.errors.any? %>
                    <div class="alert alert-danger">
                        <% Current.user.errors.full_messages.each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                <% end %>

                 <div class="mb-3" >
                    <%= form.label :email_paypal, "Enter your Email:" %>
                    <%= form.email_field :email_paypal, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :password_paypal, "Enter your Password" %>
                    <%= form.text_field :password_paypal, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :wallet_add_paypal, "How much do you want to add" %>
                    <%= form.number_field :wallet_add_paypal, class: "form-control"%>
                </div>

                <div class="mb-3">
                    <%= form.submit "Submit", class: "btn btn-primary" %>
                </div>

            <% end %>
       </div>


       <div id="couponOptions" style="display: none;">
           <h3>Coupon</h3>
            <%= form_with url: change_wallet_path do |form| %>
                <% if Current.user.errors.any? %>
                    <div class="alert alert-danger">
                        <% Current.user.errors.full_messages.each do |message| %>
                            <div><%= message %></div>
                        <% end %>
                    </div>
                <% end %>

                 <div class="mb-3" >
                    <%= form.label :coupon_number, "Enter Coupon Number:" %>
                    <%= form.text_field :coupon_number, class: "form-control"%>
                </div>

                <div class="mb-3" >
                    <%= form.label :coupon_sc, "Enter Coupon Security Code:" %>
                    <%= form.text_field :coupon_sc, class: "form-control"%>
                </div>

                <div class="mb-3">
                    <%= form.submit "Submit", class: "btn btn-primary" %>
                </div>

            <% end %>
       </div>
      
   </div>