<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %>">
   <div class="left">
      <%= image_tag(ride.image || 'ride_unknown', :alt => "rss feed") %>
   </div>   
   <div class="right">
      <h2><%= ride.name %></h2>
      <h5>Difficulty: <%=ride.difficulty%>/10 Length: <%=ride.length%></h5>
      <%= ride.description %> 
   </div>
</div>
