<div class="grid-container">
    <div class="item1"><%= link_to "Home", pages_home_path %></div>
    <div class="item2"><%= link_to "About Us!", pages_about_path %></div>
    <% if user_signed_in? %>
    <div class="item3"><%= link_to "Welcome #{current_user.first_name}", account_path %></div>
    <% else %>
    <div class="item3"><%= link_to "Log In", new_user_session_path %> / <%= link_to "Sign Up", new_user_registration_path %></div>
    <% end %>
    <div class="item4"><%= link_to "Membership", membership_index_path %></div>
    <div class="item5"><%= link_to "Contact", pages_contact_path %></div>
  </div>