<div class="grid-container">
    <div class="item1"><%= link_to "About Us!", pages_about_path %></div>
    <div class="item2"><%= link_to "Sign up", users_new_path %></div>
    <div class="item3"><%= link_to "Login", users_login_path %></div>
    <div class="item4"><%= link_to "Membership", membership_index_path %></div>
    <div class="item5"><%= link_to "Contact", pages_contact_path %></div>
  </div>