<div class="sidebar">
  <ul>
    <li><%=link_to("Menu", "/main/menus")%></li>
    <li> <%=link_to("Profile", "/main/profile")%></li>
    <li> <%=link_to("Renting", "/main/renting")%> </li>
   <li> <%=link_to("Return", "/main/return")%> </li>
   <li> <%=link_to("Help", "/main/help")%> </li>
  </ul>
</div>