<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= yield :javascript %>
    
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
    <style>
    body
      {
        width:100%;
        top:0;
        left:0;
        padding-bottom: 120px;
        min-height: 400px;
        margin-top: 50px;
        margin-bottom: 100px;
        clear: both;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      h1{
        background-color: #FFEEE4;
        width: 100% ; 
        margin: 1em 0;
        margin-top: 90px;
        height: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #8C1627;
        font-size: 25px;
      }
      header
      {
        width:100%;
        height: 50px;
        position:sticky;
        padding: 20px;
        top:0;
        text-align: center;
        left:0;
      }
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 80px;
        text-align: center;
        padding: 10px;
        left:0;
        background-color: #FFEEE4;
      }
      .footer_parts img {
        float: left;
      }
      .header_parts p {
        position: absolute;
        bottom: 10px;
      }
      .header_parts img {
        float: left;
      }

      .footer_parts p {
        position: absolute;
      }
      .footer_parts sub {
        font-size: 0.8em;
        vertical-align: sub;
      }
            .btn_group button {
        cursor: pointer;
        background-color: transparent;
        color: black;
        margin: 0;
        padding: 10px 14px;
        border: none;
      }
      .btn_group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
      }
   </style>
 </head>
 <body>

 <% flash.each do |key, value| %>
  <div class = "alert alert-<%= key %>"><%= value %></div>
<% end %>

    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
      <%= render "layouts/header" %>
      <%=yield %>
      <%= render "layouts/footer" %>
      </div>
    </div>
 </body>
</html>
