<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>

    <style>
      .dropdown {
        position: relative;
        display: inline-block;
        z-index: 2; /* Enables dropdown to cover other content */
      }
      .dropdown:hover .dropdownContent {
        right: 0px;
        display: block;
      }
      .dropdownContent {
        display: none;
        position: absolute;
        font-size: 20px;
        background-color: lightskyblue;
        top: 50px; /* Postions under rest of nav */
      }

      .dropdownContent a {
        padding: 10px 15px;
      }

      .dropdownContent a:hover{
        background-color: deepskyblue;
      }

    </style>

  </head>
  <nav>
    <ul>
      <li class=<%=active_class(root_path)%>><%=link_to"ValetBike",root_path%></li>
      <li class=<%=active_class(map_url)%>><%=link_to"Map",map_url%></li>
      <li class=<%=active_class(rides_index_url)%>><%=link_to"Rides",rides_index_url%></li>
      <li class=<%=active_class(home_faqs_path)%>><%=link_to"FAQs",home_faqs_path%></li>
      <% if logged_in? %> 
        <div class="dropdown rightNav">
          <li class="dropBtn rightNav" id="spacer"><%= current_user.username %></li>
          <div class="dropdownContent">
            <%=link_to"Rent",rent_url%>
            <%=link_to"Return",return_url%>
            <%=link_to"Logout",logout_path, method: "delete"%>
          </div>
        </div>
        <% if current_user.rented_bikes.count == 0 %>
          <li class="rightNav <%=active_class(rent_path)%>"><%=link_to"Rental",rent_url%></li>
        <% else %>
          <li class="rightNav <%=active_class(return_path)%>"><%=link_to"Rental",return_url%></li>
        <% end %>
      <% else %>
        <li class="rightNav <%=active_class(new_user_path)%>"><%=link_to"Signup",new_user_path%></li>
        <li class="rightNav" id="spacer">/</li>
        <li class="rightNav <%=active_class(login_path)%>"><%=link_to"Login",login_path%></li>
      <% end %>
    <ul>
  </nav>
  <body>
    <br>
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
  <footer>ValetBike</footer>
</html>
