<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
  </head>
  <nav>
    <ul>
      <li class=<%=active_class(root_path)%>><%=link_to"Home",root_path%></li>
      <li class=<%=active_class(home_Map_path)%>><%=link_to"Map",home_Map_path%></li>
      <li class=<%=active_class(home_Rides_path)%>><%=link_to"Rides",home_Rides_path%></li>
      <li class=<%=active_class(home_Pricing_path)%>><%=link_to"Pricing",home_Pricing_path%></li>
      <% if signedIn=false %> <%# Eventually will check if user is signed in %>
        <li class="rightNav <%=active_class(rental_path)%>"><%=link_to"Rental",rental_url%></li>
      <% else %>
        <li class="rightNav <%=active_class(new_signup_path)%>"><%=link_to"Signup",new_signup_path%></li>
        <li class="rightNav" id="spacer">/</li>
        <li class="rightNav <%=active_class(login_path)%>"><%=link_to"Login",login_path%></li>
      <% end %>
    </end>
    <ul>
  </nav>
  <body>
    <br>
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
