<!doctype html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %> <!-- Keep this line -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
<%= javascript_include_tag 'flash_popup', 'data-turbolinks-track': 'reload' %>

    <%= yield :javascript %>
    
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
    <style>
      a {
        color: inherit;
        text-decoration: none;
      }
      h1{
        background-color: #FFEEE4;
        width: 100% ; 
        margin: 1em 0;
        margin-top: 90px;
        height: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #8C1627;
        font-size: 25px;
      }
      .nav
      {
        width: 100vw;
        height: 70px;
        position:sticky;
        padding: 0px;
        top:0;
        text-align: center;
        left:0;
        z-index: 2;
        background-color: white;
        display: inline-block;

      }
    footer {
      position: absolute;
        bottom: -17%;
        width: 100vw;
        height: 80px;
        text-align: center;
        padding: 10px;
        left:0;
        background-color: #FFEEE4;
        z-index: 3;
        display: flex;
        flex-direction: column;
      }
      .footer_parts img {
        position: sticky;
        bottom: 0;
        float: left;
      }
      .header_parts p {
        position: absolute;
        bottom: 10px;
      }
      .header_parts img {
        float: left;
      }

      .footer_parts p {
        position: absolute;
        bottom: -17%;
      }
      .footer_parts sub {
        font-size: 0.8em;
        vertical-align: sub;
      }
      .btn_group button {
       width: 50vw;
        cursor: pointer;
        background-color: transparent;
        color: black;
        margin: 10;
        padding: 10px 14px;
        border: none;
        float: right;
      }
      .btn_group {
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        float: right;
      }


    

      .flash-popup {
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .flash-message {
        background-color: #FFEEE4;
        color: #8C1627;
        padding: 30px;
        border-radius: 7px;
        border_color: grey;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        text-align: center;
      }

      .flash-popup-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
      }


      .logo_style {
        width: 150px ;
        height: 150px;
        float: left;
      }
   </style>
 </head>
 
 <body>
    <% flash.each do |key, value| %>
      <div class = "alert alert-<%= key %>"><%= value %></div>
    <% end %>




    <div id="site-container" class="flexbox vertical stretch flex-1">

      <div class="flexbox vertical center">
      <%= render "layouts/header" %>

      <div class = "translate">
        <p>Translate this page:</p>
        <div id="google_translate_element"></div>
          <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
          }
          </script>

          <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>

      <%=yield %>
      <%#= render "layouts/footer" %>
      
      </div>
    </div>
    <%= render 'shared/flash_popup' %>
 </body>
</html>
