<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <title>ValetBike</title>
    <style>
    body
      {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        padding-bottom: 120px;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      h1{
        background-color: #FFEEE4;
        width: 100% ; 
        margin: 1em 0;
        /* margin-top: 46px; */
        margin-top: 90px;
        height: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #8C1627;
        font-size: 25px;
        /* padding: 110px 350px 28px 45px; */
      }
      header
      {
        width:100%;
        height: 120px;
        position:absolute;
        padding: 20px;
        top:0;
        text-align: center;
        padding: 20px;
        left:0;
        background-color: #FFEEE4;
      }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 120px;
        text-align: center;
        padding: 20px;
        left:0;
        background-color: #FFEEE4;
      }
      .footer_parts img {
        float: left;
      }
      .header_parts p {
        position: absolute;
        bottom: 10px;
      }
      .header_parts img {
        float: left;
      }

      .footer_parts p {
        position: absolute;
        bottom: 10px;
      }
      .btn_group button {
        cursor: pointer;
        background-color: transparent;
        color: black;
        margin: 0;
      }
      .btn_group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
      }
    </style>
  </head>
  <body>
    <div id="site-container" class="flexbox vertical stretch flex-1">
      <div class="flexbox vertical center">
      <%= render "layouts/header" %>
      <%=yield %>
      <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
