<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= membership.name %>: <%= membership.cost %>$ every <%= membership.payment_frequency %> <%= membership.time_unit %><br>
</div>