<p id="notice"><%= notice %></p>
 
<p>
  <strong>Name:</strong>
  <%= @membership.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@membership.cost) %>
  <%= hidden_field_tag :membership_id, @membership.id %>
</p>
 
<%= render 'shared/card_and_charge_form', membership: @membership %>